<app-menu></app-menu>

<div class="main grid grid-cols-8">

    <!--menú de trade-->
    <div class="col-span-4" align="center"> 

        <h2 class="title">Dinero disponible: $F {{this.user.finance}}</h2>
        
        <div class="box-form">

            <form class="form-ticker" [formGroup]="formularioTicker" (ngSubmit)="obtenerInformacionTicker(formularioTicker.value['ticker'])">
                <mat-form-field appearance="legacy">
                    <mat-label>Ticker</mat-label>
                    <input formControlName="ticker" autocomplete="off" matInput>
                </mat-form-field>
                
                <button mat-raised-button type="submit">Buscar<mat-icon>search</mat-icon></button>
                <button type="button" mat-raised-button (click)="navegarAcademia()">Información<mat-icon>info</mat-icon></button>
            </form>

            <div class="informacion">
                <div class="columna">
                    <span class="titulo">Cotización</span>
                    <span class="info">{{tickerInformacion.precio}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Cambio en 24h</span>
                    <span class="info" 
                        [class.compra]="tickerInformacion.cambioAccion"
                        [class.venta]="!tickerInformacion.cambioAccion"
                    >{{tickerInformacion.cambio}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Máx en 24h</span>
                    <span class="info">{{tickerInformacion.maximo24}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Mín en 24h</span>
                    <span class="info">{{tickerInformacion.minimo24}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Estado</span>
                    <span class="info"
                        [class.compra]="tickerInformacion.cambioAccion"
                        [class.venta]="!tickerInformacion.cambioAccion"
                    >{{tickerInformacion.estado}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Volumen</span>
                    <span class="info">{{tickerInformacion.volumen}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Máx en 52s</span>
                    <span class="info">{{tickerInformacion.maximo52}}</span>
                </div>
                <div class="columna">
                    <span class="titulo">Mín en 52s</span>
                    <span class="info">{{tickerInformacion.minimo52}}</span>
                </div>
            </div>
        </div>
        
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Instantánea">
                <div class="mat-tab-cuerpo">
                    <div class="tab-form">
                        <div class="font-medium text-base">Ticker: {{tickerInformacion.simbolo}}</div>
                        <div class="font-medium text-base disponible">En cartera: {{tickerInformacion.disponible}}</div>

                        <div class="forms">
                            <form class="form-acciones" [formGroup]="formularioCompra" (ngSubmit)="comprarTickerInstantanea()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Cantidad a comprar</mat-label>
                                    <input formControlName="amount" autocomplete="off" matInput>
                                </mat-form-field>
                                
                                <button mat-stroked-button class="button-buy" type="submit">Comprar</button>
                            </form>

                            <form class="form-acciones" [formGroup]="formularioVenta" (ngSubmit)="venderTickerInstantanea()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Cantidad a vender</mat-label>
                                    <input formControlName="amount" autocomplete="off" matInput>
                                </mat-form-field>
                                
                                <button mat-stroked-button class="button-sell" type="submit">Vender</button>
                            </form>
                        </div>
                    </div>

                    <div class="container-hint">
                        En esta sección podrás convertir al instante dinero de Sweet Finance ($F) 
                        a tickers mediante la compra de acciones (por ejemplo IBM) o 
                        viceversa mediante la venta. Si no cuentas con el mínimo requerido de $F 
                        puedes recargar ingresando a Tu Cuenta.
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Limit">
                <div class="mat-tab-cuerpo">
                    <div class="tab-form">
                        <div class="font-medium text-base">Ticker: {{tickerInformacion.simbolo}}</div>
                        <div class="font-medium text-base disponible">En cartera: {{tickerInformacion.disponible}}</div>

                        <div class="forms">
                            <form class="form-acciones" [formGroup]="formularioCompraLimit" (ngSubmit)="comprarTickerLimit()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio LIMIT</mat-label>
                                    <input formControlName="limit" autocomplete="off" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Cantidad a comprar</mat-label>
                                    <input formControlName="amount" autocomplete="off" matInput>
                                </mat-form-field>
                                
                                <button mat-stroked-button class="button-buy" type="submit">Comprar</button>
                            </form>

                            <form class="form-acciones" [formGroup]="formularioVentaLimit" (ngSubmit)="venderTickerLimit()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio LIMIT</mat-label>
                                    <input formControlName="limit" autocomplete="off" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Cantidad a vender</mat-label>
                                    <input formControlName="amount" autocomplete="off" matInput>
                                </mat-form-field>
                                
                                <button mat-stroked-button class="button-sell" type="submit">Vender</button>
                            </form>
                        </div>
                    </div>

                    <div class="container-hint">
                        En esta sección podrás crear ordenes de tipo LIMIT utilizando  
                        un precio objetivo de disparo expresado en $F, tanto en compra
                        como en venta. Si no cuentas con el mínimo requerido de $F puedes recargar 
                        ingresando a Tu Cuenta.
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Stop-limit">
                <div class="mat-tab-cuerpo">
                    <div class="tab-form">
                        <div class="font-medium text-base">Ticker: {{tickerInformacion.simbolo}}</div>
                        <div class="font-medium text-base disponible">En cartera: {{tickerInformacion.disponible}}</div>

                        <div class="forms">
                            <form class="form-acciones" [formGroup]="formularioCompraStopLimit" (ngSubmit)="comprarTickerStopLimit()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio STOP</mat-label>
                                    <input formControlName="stop" autocomplete="off" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio LIMIT</mat-label>
                                    <input formControlName="limit" autocomplete="off" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Cantidad a comprar</mat-label>
                                    <input formControlName="amount" autocomplete="off" matInput>
                                </mat-form-field>
                                
                                <button mat-stroked-button class="button-buy" type="submit">Comprar</button>
                            </form>

                            <form class="form-acciones" [formGroup]="formularioVentaStopLimit" (ngSubmit)="venderTickerStopLimit()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio STOP</mat-label>
                                    <input formControlName="stop" autocomplete="off" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Precio LIMIT</mat-label>
                                    <input formControlName="limit" autocomplete="off" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="legacy">
                                    <mat-label>Cantidad a vender</mat-label>
                                    <input formControlName="amount" autocomplete="off" matInput>
                                </mat-form-field>
                                
                                <button mat-stroked-button class="button-sell" type="submit">Vender</button>
                            </form>
                        </div>
                    </div>

                    <div class="container-hint">
                        En esta sección podrás crear ordenes de tipo STOP-LIMIT utilizando  
                        un precio objetivo de disparo y un precio objetivo de
                        activación, expresados en $F. Si no cuentas con el mínimo requerido de $F 
                        puedes recargar ingresando a Tu Cuenta.
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
        
    </div>

    <div class="col-span-4" align="center">
        
        <h2 class="title">Ordenes abiertas</h2>

        <div class="container-table">
            <div class="table-fixed text-center table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Ticker</th>
                        <th>Tamaño</th>
                        <th>STOP</th>
                        <th>LIMIT</th>
                        <th>Creación</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes">
                        <td [class.compra]="orden.action_boolean" [class.venta]="!orden.action_boolean">{{orden.action}}</td>
                        <td>{{orden.ticker}}</td>
                        <td>{{orden.amount}}</td>
                        <td>{{orden.stop}}</td>
                        <td>{{orden.limit}}</td>
                        <td>{{orden.fecha}}</td>
                        <button mat-icon-button (click)="eliminarOrden(orden.id)"><mat-icon class="delete-button">delete</mat-icon></button>
                    </tr>
                </tbody>
            </div>
        </div>

        <div class="chart-box" *ngIf="ordenes.length != 0">
            <div id="chart-serie">
                <apx-chart
                    #chartSerie
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [title]="chartOptions.title"     
                    [stroke]="chartOptions.stroke"
                    [markers]="chartOptions.markers"
                ></apx-chart>
            </div>
        </div>

    </div>

</div>


