<app-menu></app-menu>

<div class="fondo">
    <mat-card>
        <mat-card-title>Editar Datos</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput required formControlName="email">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Nombre Completo</mat-label>
                <input matInput required formControlName="nombre">
            </mat-form-field>

            <button mat-raised-button class="bg-primary guardar" type="submit">Guardar cambios</button>
    
            <div class="botones">
                <button mat-stroked-button routerLink="./change-password">Cambiar Contraseña</button>
                <button mat-stroked-button routerLink="./add-finance">Añadir Finance</button>
            </div>
        </form>
    </mat-card>
</div>
