.fondo{
    background-image: url(../../../assets/trama_cursos2.png); 
    background-size: 100%;  
    background-size: cover;
    min-height: 92vh;
}

.ABC{
    color: white;
    margin-left: 11vw; /*VW*/
}

.ECONOMIA{
    color: yellow;
    margin-left: 11vw;
}

.texto{
    padding: 1%;
    color: white;
    overflow: auto;
    height: 75vh; /*vh*/
    width: 51vw;
    margin-left: 21vh;
}

.cuerpoindice{
    margin-left: 30vh;
}

.titulo1{
    color: rgb(143, 27, 27);
}

.titulo2{
    color: rgb(143, 27, 27);
}

.titulo3{
    color: rgb(143, 27, 27);
}

.titulo4{
    color: rgb(143, 27, 27);
}

.titulo5{
    color: rgb(143, 27, 27);
}

.titulo6{
    color: rgb(143, 27, 27);
}

.indice{
    color: yellow;
}

.iale{
    color: white;
}

p{
    text-align: justify;
}
