<app-menu></app-menu>

<div class="fondo"> 
        
    <div class="ABC">
        <span class="font-normal text-6xl">HISTORIA</span>
    </div>     
 
  
    <div class="ECONOMIA">
        <span class="font-normal text-6xl">ECONÓMICA</span>
    </div>
  
<div class="grid grid-cols-2">
    <div class="texto">
        <div #target><h2 class="titulo">Introducción</h2></div>
        <p>
            La historia económica estudia el cambio (evolución) de la estructura económica de las sociedades a lo largo del tiempo.
        </p>
        <P>
            La historia económica se alimenta de la historia y de la economía. En el primero caso, la historia estudia los hechos sucedidos a lo largo del tiempo. Por su lado, la economía estudia la producción, circulación y consumo de bienes y servicios de una sociedad.
        </P>
        <P>
            Así, la historia económica, como disciplina autónoma, estudia a través de los métodos de la historia, las estructuras económicas y los hechos que marcaron un cambio de rumbo en el pasado. Nos ofrece, por tanto, herramientas para explicar la situación económica actual de un país y vislumbrar las tendencias hacia el futuro.
        </P>

        <div #target2><h2 class="titulo">Ciclos de mercado</h2></div>
        <p>
            Los ciclos de mercado son patrones o tendencias que suelen formarse a lo largo del tiempo en diferentes mercados o entornos empresariales. Es el período que transcurre entre los dos últimos puntos más bajos o altos de un índice de referencia.
            Los nuevos ciclos de mercado suelen surgir cuando se forman tendencias en un sector o industria particular, debido a una innovación importante, nuevos productos o un entorno regulatorio.
            
        </p>
        <P>
            Lo que pasa con estas tendencias es que son difíciles de identificar hasta que el período termina. Cuando estás en medio de un ciclo, puede ser difícil identificar un punto claro de inicio y final, lo que a menudo puede causar confusión con respecto a la evaluación de las estrategias comerciales.
        </P>
        <P>
            Los ciclos de mercado pueden durar desde unos pocos minutos hasta muchos años, dependiendo del mercado que estés analizando. Las diferentes carreras a menudo conducen a analizar varios aspectos de estos rangos. Por ejemplo, los comerciantes intradiarios (day traders) pueden observar intervalos de cinco minutos, mientras que los inversores inmobiliarios observarán rangos de hasta 20 años en el pasado.
        </P>
            <div #target3><h2 class="titulo">Crisis</h2></div>  
        <p>
            Crisis es un cambio negativo, una situación complicada, difícil e inestable durante un proceso. En algunos casos también hace referencia a una situación de carestía y/o escasez.
        </p>
        <P>
            La palabra crisis procede del latín crisis, que deriva del griego κρίσις.
        </P>
        <P>
            La forma en plural de esta palabra no varía. Podemos decir, por ejemplo, “Juan tuvo una crisis nerviosa”, como también “Juan ha tenido varias crisis nerviosas”.
        </P>
        <P>
            Sinónimos de crisis podemos encontrar las palabras: adversidad, ruptura, problema y desorden.
        </P>
        <P>
            Una situación de crisis puede referirse a todos los ámbitos como, por ejemplo, crisis económicas de la economía, crisis políticas de la política, crisis existenciales del ser humano, crisis energéticas del medioambiente o crisis sociales de la sociedad.
        </P>
        <P>
            Una crisis económica es un período o situación negativa de la economía en el que se produce un empeoramiento sustancial de las variables económicas.
        </P>
        <P>
            En función de la intensidad y la duración de una crisis económica, en ocasiones se utilizan otros términos como desaceleración, recesión y depresión.
        </P>
        <P>
            Una crisis económica puede afectar a la oferta, a la demanda o a ambas. Cuando una crisis económica con temas monetarios y bancarios se conoce como crisis económica financiera o simplemente crisis financiera.
        </P>
        <P>
            El concepto de crisis económica cíclica deriva de teorías marxistas y hace referencia a un periodo cíclico del sistema económico capitalista.
        </P>
        
    </div>
    <div class="cuerpoindice">
        <div class="indice">
            <span class="font-normal text-4xl">INDICE</span>
        </div>
        <div>
            <button (click)="scroll(target)" class="iale"><span class="font-normal text-2xl">Introducción</span></button>
        </div>
        <div>
            <button (click)="scroll(target2)" class="iale"><span class="font-normal text-2xl">Ciclos de mercado</span></button>
        </div>
        <div>
            <button (click)="scroll(target3)" class="iale"><span class="font-normal text-2xl">Crisis</span></button>
        </div>
    </div>
</div>
</div>
