.button{
    background-color: #cccc00;
    color: black;
    border: 1px solid #212245;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 8vw;
    height: 5vh;
}

.title{
    margin-left: 8%;
    margin-top: 2%;
    
    .sweet-title{
        color: #cccc00;
    }
}

.container-body{
    background-image: url(../../../assets/bg_login.png); 
    background-size: 100%;  
    background-size: cover;
    min-height: 100vh;
}

.container-form{
    width: 75%;
    height: 70%;
    padding: 2%;
    margin-top: 8%;
    border-radius: 2%;
    background-color: transparent;
}

form{
    margin: 2%;

    mat-form-field{
        width: 100% !important;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
      }
}

mat-divider{
    border: 0.005vh solid #cccc00;
    margin-top: 2%;
    margin-bottom: 5%;
}




