<div class="container-body">
    <nav class="flex items-center justify-between flex-wrap">
        <div class="flex items-center">
            <img class="logo" src="../../../assets/sw_logo.png">
            <span class="font-extrabold text-xl" style="color: #cccc00"> SWEET FINANCE</span>
        </div>

        <div>
            <button mat-raised-button class="button"><a [routerLink] = "['../register']">Registrese</a></button>
        </div>
    </nav>

    <div class="grid grid-cols-2">
        <div class="container-form mx-auto">
            <span class="font-extrabold text-xl" style="color: #cccc00"> Iniciar Sesión</span>
            <mat-divider></mat-divider>

            <form [formGroup]="form" (ngSubmit)="submit()" class="form">
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" autocomplete="false" matInput>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" type="password" matInput>
                    </mat-form-field>
                </p>

                <a class="recover" href="">¿Olvidaste el email o la contraseña?</a>

                <div align="right">
                    <button mat-raised-button class="button" type="submit">Entrar</button>
                </div>
            </form>
        </div>

        <div>
            <div class="container-carousel mx-auto">
                <div class="carousel relative">
                    <div class="carousel-inner relative overflow-hidden">
                     
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                        <div class="carousel-item absolute opacity-0" style="height:30vh;">
                            <img src="../../../assets/trader.png">
                        </div>
                        
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                        <div class="carousel-item absolute opacity-0" style="height:30vh;">
                            <img src="../../../assets/criptos.png">
                        </div>
                        
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                        <div class="carousel-item absolute opacity-0" style="height:30vh;">
                            <img src="../../../assets/getting_started.png">
                        </div>
                
                        <ol class="carousel-indicators">
                            <li class="inline-block mr-5">
                                <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white">•</label>
                            </li>
                            <li class="inline-block mr-5">
                                <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white">•</label>
                            </li>
                            <li class="inline-block mr-5">
                                <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white">•</label>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-4">
        <div align="center">
            <span class="font-black text-3xl" style="color: #cccc00">MERCADOS</span>
            <img class="img-4" src="../../../assets/market_logo.png">
        </div>
        <div align="center">
            <img class="img-4" src="../../../assets/trading_logo.png">
            <span class="font-black text-3xl" style="color: #cccc00">TRADING</span>
        </div>
        <div align="center">
            <span class="font-black text-3xl" style="color: #cccc00">ACADEMIA</span>
            <img class="img-4" src="../../../assets/academy_logo.png">
        </div>
        <div align="center">
            <img class="img-4" src="../../../assets/btc_logo.png">
            <span class="font-black text-3xl" style="color: #cccc00">CRIPTOS</span>
        </div>
    </div>

    <div class="footer">Sweet Finance © CLR Company</div> 
</div>