<div class="container-body">
    
    <div align="right">
        <button mat-raised-button></button>
    </div>
    
    <div class="title">
        <p class="sweet-title italic font-extrabold text-6xl">SWEET</p>
        <p class="sweet-title italic font-extrabold text-6xl">FINANCE</p>
        <span class="text-xl italic font-medium" style="color: white"> Una nueva forma de ahorrar</span>
    </div>

    <div class="grid grid-cols-2">
        <div class="container-form mx-auto">
            <form [formGroup]="form" (ngSubmit)="submit()" class="form">
                <p class="text-xl font-medium" style="color: yellow">Email</p>
                <mat-form-field appearance="outline">
                    <input formControlName="email" autocomplete="false" matInput required>
                </mat-form-field>

                <p class="text-xl font-medium" style="color: yellow">Contraseña</p>
                <mat-form-field appearance="outline">
                    <input formControlName="password" type="password" matInput required>
                </mat-form-field>

                <div align="right">
                    <button mat-raised-button class="button" type="submit">Ingresar</button>
                </div>

                <div align="center">
                    <p><a class="text-lg" style="color: yellow" [routerLink] = "['../register']">¿Aún no tienes cuenta? ¡Regístrate aquí!</a></p>
                    <p style="color:white">Ante cualquier inconveniente comunicarse a soporte@sweetfinance.com</p>
                </div>
                
            </form>
        </div>
    </div>
</div>