.register-button{
    background-color: #cccc00;
    color: black;
    border: 1px solid #212245;
    margin: 2px;
}

img{
    height: 5vh;
    width: 5vh;
    margin-right: 3vh;
}

nav{
    background-color: #0d0e1c;
}

body{
    background-image: url(../../../assets/bg_space.jpg);
}

.container{
    background-color: #f7f9f9;
    width: 80%;
	margin: 10%;
	height: 50vh;
    border: 1px solid #cccc00;
    padding: 2%;
}

.form{
    margin: 2%;
}
