.button{
    background-color: #cccc00;
    color: black;
    border: 1px solid #212245;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 130px;
    height: 40px;
}

.title{
    margin-left: 150px;
    
    .imagen{
        width: 300px;
        height: 250px;
    }
}

.container-body{
    background-image: url(../../../assets/bg_login2.png); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh; 
}

.container-form{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
}

form{
    margin-left: 150px;
    margin-right: 150px;

    mat-form-field{
        width: 100% !important;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
    }

    .button{
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 17px;
    }
}

mat-divider{
    border: 0.005vh solid #cccc00;
    margin-top: 5px;
    margin-bottom: 5px;
}




