.body{
    background-image: url(/../../../../../../../../assets/trama_cursos2.png); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh; 
}

.logo{
    height: 40px;
    width: 50px;
    margin-right: 10px;
    margin-left: 30px;
}

nav{
    background-color: #0d0e1c;
}

.container-form{
    background-color: transparent;
    margin-top: 20px;
    width: 35%;
}

mat-form-field{
    width: 100% !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.button-register{
    background-color: #cccc00;
    color: black;
    border: 1px solid #212245;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 17px;
}

.button{
    background-color: #cccc00;
    color: black;
    border: 1px solid #212245;
    margin: 1vh;
}

mat-divider{
    border: 0.005vh solid #cccc00;
    margin-top: 2%;
    margin-bottom: 5%;
}

form{
    margin: 2%;

    mat-form-field{
        width: 100%;
    }
}

.footer{
    text-align: center;
    color: white;
    font-size: smaller;
    margin-top: 5vh;
}

a{
    cursor: pointer;
}
