.container-body{
    background-image: url(../../../assets/bg_space.jpg); 
    background-size: 100%;  
    background-size: cover;
}

.logo{
    height: 4vh;
    width: 5vh;
    margin-right: 2vh;
    margin-left: 3vh;
    margin-bottom: 0.5vh;
}

nav{
    background-color: #0d0e1c;
}

.container-form{
    background-color: #f7f9f9;
    width: 35%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 67vh;
    border: 1px solid #cccc00;
    padding: 1%;
    border-radius: 3%;
}

.button{
    background-color: #cccc00;
    color: black;
    border: 1px solid #212245;
    margin: 1vh;
}

mat-divider{
    border: 0.005vh solid #cccc00;
    margin-top: 2%;
    margin-bottom: 5%;
}

form{
    margin: 2%;

    mat-form-field{
        width: 100%;
    }
}

.footer{
    text-align: center;
    color: white;
    font-size: smaller;
    margin-top: 5vh;
}