<div class="body">
    <nav class="flex items-center justify-between flex-wrap">
        <div class="flex items-center">
            <img class="logo" src="../../../assets/sw_logo.png">
            <span class="font-extrabold text-xl" style="color: #cccc00"> SWEET FINANCE</span>
        </div>

        <div>
            <span class="font-light text-lg" style="color: #cccc00">¿Ya tienes cuenta?</span>
            <button mat-raised-button class="button"><a (click)="navegar('/login')">Iniciar Sesión</a></button>
        </div>
    </nav>

    <div class="container-form mx-auto">
        <span class="font-extrabold text-xl" style="color: #cccc00"> Formulario de Registro</span>
        <mat-divider></mat-divider>

        <form [formGroup]="form" (ngSubmit)="submit()" class="form">
            <p class="text-xl font-medium" style="color: yellow">Nombre Completo</p>
            <mat-form-field appearance="outline">
                <input formControlName="name" autocomplete="false" matInput>
            </mat-form-field>

            <p class="text-xl font-medium" style="color: yellow">Email</p>
            <mat-form-field appearance="outline">
                <input formControlName="email" autocomplete="false" matInput>
            </mat-form-field>

            <p class="text-xl font-medium" style="color: yellow">Constraseña</p>
            <mat-form-field appearance="outline">
                <input formControlName="password" type="password" matInput>
            </mat-form-field>

            <p class="text-xl font-medium" style="color: yellow">Confirmar Contraseña</p>
            <mat-form-field appearance="outline">
                <input matInput formControlName="password_confirmation" type="password">
            </mat-form-field>


            <div align="right">
                <button mat-raised-button class="button-register" type="submit">Registrarse</button>
            </div>
        </form>
    </div>

    <div class="footer">Sweet Finance © CLR Company</div> 
</div>