<div class="page">
	<nav class="flex items-center justify-between flex-wrap">
		<div class="flex items-center">
			<img class="logo" src="../../../assets/sw_logo.png">
		</div>
	</nav>

    <div class="body">
        <img class="imagen" src="../../../assets/sw_logoFull.png">
        <span class="titulo">¡Dimensiones no compatibles!</span>
        <span class="texto">La aplicación aún no funciona en dispositivos con esta resolución, ¡pero estamos trabajando en ello!</span>
        <span class="texto">Si estas accediendo desde un navegador, prueba ampliar la ventana.</span>
    </div>
</div>