.page {
    display: flex;
    flex-direction: column;
     
    nav{
        background-color: #0d0e1c;
        height: 80px;

       .logo{
            height: 40px;
            width: 50px;
            margin-right: 10px;
            margin-left: 30px;
        }
    }

    .body{
        background-image: url(/../../../../../../../../assets/trama_cursos2.png); 
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 80px);
        width: 100%;
        gap: 10px;
        text-align: center;

        .imagen{
            width: 300px;
            height: 250px;
        }

        .titulo{
            font-size: 24px;
            line-height: 1.44;
            font-weight: 700;
            color: #fff;
        }

        .texto{
            font-size: 16px;
            line-height: 1.44;
            font-weight: 500;
            color: #939598;
        }
    }
}