<mat-card>
    <mat-card-title>Cambiar contraseña</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Contraseña anterior</mat-label>
            <input matInput required formControlName="old_password" type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nueva contraseña</mat-label>
            <input matInput required formControlName="new_password" type="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmar nueva contraseña</mat-label>
            <input matInput required formControlName="new_password_confirmation" type="password">
        </mat-form-field>

        <button mat-raised-button class="bg-primary submit" type="submit">Guardar</button>
        <button mat-stroked-button routerLink="/account">Editar datos personales</button>
    </form>
</mat-card>
