<mat-card>
    <mat-card-title>Editar Datos</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput required formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput required formControlName="name">
        </mat-form-field>

        <button mat-raised-button class="bg-primary submit" type="submit">Guardar</button>
        <button mat-stroked-button routerLink="./change-password" class="submit">Cambiar Contraseña</button>
        <button mat-stroked-button routerLink="./add-finance">Añadir Finance</button>
    </form>
</mat-card>