.container-body{
    background-color: #f7f9f9; 
    background-size: 100%;  
    background-size: cover;
    min-height: 100vh;
}

.container-list{
    margin: 3vh;
}

.container-find{
    margin: 3vh;
    border: 1px solid #cccc00;
    padding: 1vh;
}

form{
    mat-form-field{
        margin: 1vh;
    }
}

.compra{
    color: red;
}

.venta{
    color: green;
}

.chart-box {
    max-width: 650px;
    margin: 35px auto;
  }
  #chart-candlestick,
  #chart-bar {
    max-width: 640px;
  }
  
  #chart-bar {
    margin-top: -30px;
  }
