<div class="container-body">
    
    <div class="grid grid-cols-4">
        <div class="container-list">
            <span class="font-normal text-3xl">Mis listas</span>
        </div>

        <div class="col-span-3">
            <div class="container-find">
                <form [formGroup]="form" (ngSubmit)="find_ticker()">
                    <mat-form-field appearance="legacy">
                        <mat-label>Ticker</mat-label>
                        <input formControlName="ticker" autocomplete="false" matInput>
                    </mat-form-field>
                    
                    <button mat-raised-button type="submit">Buscar</button>
                </form>

                <div class="table-fixed text-center">
                    <thead>
                        <tr>
                            <th class="w-1/6">Ticker</th>
                            <th class="w-1/4">Compañía</th>
                            <th class="w-1/6">Mercado de EEUU</th>
                            <th class="w-1/6">Última cotización</th>
                            <th class="w-1/8">EMA21 Diaria</th>
                            <th class="w-1/8">EMA200 Diaria</th>
                            <th class="w-1/8">RSI Diario</th>
                            <th class="w-1/6">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{symbol}}</td>
                            <td>{{name}}</td>
                            <td>{{mercado}}</td>
                            <td>{{price}}</td>
                            <td>{{ema21}}</td>
                            <td>{{ema200}}</td>
                            <td>{{rsi}}</td>
                            <td *ngIf="estado_compra" class="compra">COMPRA</td>
                            <td *ngIf="estado_venta" class="venta">VENTA</td>
                        </tr>
                    </tbody>
                </div>
            </div>

            <div class="chart-box">
                <div *ngIf="flag_candle" id="chart-candlestick">
                    <apx-chart
                        #chartCandle
                        [series]="chartCandleOptions.series"
                        [chart]="chartCandleOptions.chart"
                        [xaxis]="chartCandleOptions.xaxis"
                        [yaxis]="chartCandleOptions.yaxis"
                        [plotOptions]="chartCandleOptions.plotOptions"
                        [title]="chartCandleOptions.title"     
                        [legend]="chartCandleOptions.legend"
                        [stroke]="chartCandleOptions.stroke"
                    ></apx-chart>
                </div>
                <div *ngIf="flag_vol" id="chart-bar">
                    <apx-chart
                        #chartBar
                        [series]="chartBarOptions.series"
                        [chart]="chartBarOptions.chart"
                        [xaxis]="chartBarOptions.xaxis"
                        [yaxis]="chartBarOptions.yaxis"
                        [dataLabels]="chartBarOptions.dataLabels"
                        [stroke]="chartBarOptions.stroke"
                        [plotOptions]="chartBarOptions.plotOptions"
                        [title]="chartBarOptions.title"
                    ></apx-chart>
                </div>
                <div *ngIf="flag_macd" id="chart-macd">
                    <apx-chart
                        #chartMACD
                        [series]="chartMACDOptions.series"
                        [chart]="chartMACDOptions.chart"
                        [markers]="chartMACDOptions.markers"
                        [xaxis]="chartMACDOptions.xaxis"
                        [yaxis]="chartMACDOptions.yaxis"
                        [stroke]="chartMACDOptions.stroke"
                        [plotOptions]="chartMACDOptions.plotOptions"
                        [legend]="chartMACDOptions.legend"
                        [title]="chartMACDOptions.title"
                    ></apx-chart>
                </div>
                <div *ngIf="flag_rsi" id="chart-rsi">
                    <apx-chart
                        #chartRSI
                        [series]="chartRSIOptions.series"
                        [chart]="chartRSIOptions.chart"
                        [markers]="chartRSIOptions.markers"
                        [xaxis]="chartRSIOptions.xaxis"
                        [yaxis]="chartRSIOptions.yaxis"
                        [stroke]="chartRSIOptions.stroke"
                        [annotations]="chartRSIOptions.annotations"
                        [title]="chartRSIOptions.title"
                        ></apx-chart>
                </div>
            </div>
        </div>
    </div>


</div>
