.container-body{
    background-color: #f7f9f9; 
    background-size: 100%;  
    background-size: cover;
    min-height: 100vh;
}

.container-list{
    margin: 3vh;
}

.container-find{
    margin: 3vh;
    border: 1px solid #cccc00;
    padding: 1vh;
}

form{
    mat-form-field{
        margin: 1vh;
    }
}

.compra{
    color: green;
}

.venta{
    color: red;
}

.chart-box {
    max-width: 100%;
    margin-top: 5%;
    margin-right: 3vh;
}

#chart-bar {
    margin-top: -1%;
}

.container-table{
    margin-top: 5%;
    height: 90vh;
    overflow-y: scroll;
}

.table{
    width: 100%;
}

.delete-button{
    transform: scale(0.8);
}

.form-button{
    margin-left: 3%;
}

.td-ticker{
    cursor: pointer;
}
  
