:host {
    background-color: #f7f9f9; 
    flex-grow: 1;
}

.noticias{
    margin: 1vh;
}

.img-float {
    float: left;
    width: 30%;
    margin-right: 1vw;
}

mat-card-content{
    margin-top: 3vh;
}

.container-table{
    margin: 5%;
    width: 90%;
}

.compra{
    color: green;
}

.venta{
    color: red;
}

