<app-menu></app-menu>

<div class="fondo"> 
        
    <div class="ABC">
        <span class="font-normal text-6xl">ANÁLISIS</span>
    </div>     
 
  
    <div class="ECONOMIA">
        <span class="font-normal text-6xl">TÉCNICO</span>
    </div>
  
<div class="grid grid-cols-2">
    <div class="texto">
        <div #target><h2 class="titulo">Introducción</h2></div>
        <p>
        El análisis técnico es un tipo de análisis bursátil que estudia los movimientos de las cotizaciones a través de gráficos e 
        indicadores basados en los precios de los activos. 
        </p>
        <p>
        Dicho en términos más sencillos, un activo que cotiza en bolsa (por ejemplo, una acción) se mueve en distintas direcciones.
         Unas veces sube, otras veces baja y otras veces no se mueve. El análisis técnico lo que hace es analizar esos movimientos 
         de subida, de bajada o de movimiento lateral, para intentar predecir cuál será el movimiento futuro. Claro que, para analizar
          esos movimientos utiliza diversas herramientas, las cuales veremos más tarde.
        </p>

        <div #target1><h2 class="titulo">Datos sobre acciones y método</h2></div>

        <p>Las acciones se identifican por un Ticker. En ciertos casos una acción puede ser identificada por distintos
            Tickers dependiendo del país que la esté operando. Para operar en nuestra plataforma, se tomará de referencia
            los símbolos que utiliza la Bolsa de Estados Unidos. Una lista completa puede ser vista <a href="https://es.tradingview.com/markets/stocks-usa/market-movers-all-stocks/">clickeando aquí</a>. 
        </p>

        <p>En la página de Bolsa es posible buscar un Ticker, obtener su información de mercado mediante diferentes gráficos y a su vez cierta información directa de los mismos.
            En primer lugar se hará visible el nombre completo de la Compañía y luego el índice al cual pertenece en el mercado.
            Sucesivamente el valor de la última cotización junto al valor de la EMA21, EMA200 y RSI. Estos valores serán profundizados más adelante.
            Por último, el estado se calcula en valor a la cotización actual y la EMA21. Si el precio está por encima es COMPRA y por debajo es VENTA.
        </p>

        <p>
            Por otro lado, en la página de Trading, se visualizan datos más específicos como el cambio en % entre la cotización inicial y actual del día.
            Además, el máximo y mínimo del día, el Volumen que refiere a la cantidad en millones de acciones comercializadas, y el máximo y mínimo en 52 semanas (un año).
            Nuevamente se refiere al estado como se explicó anteriormente.
        </p>

        <p>Las acciones se pueden operar de forma inmediata, es decir, a precio de mercado; de forma LIMIT a través de precios límites donde se quiera ejecutar
            la orden; y por último en forma de STOP añadiendo un valor de parada para que la orden se cancele en caso de atravesar por dicho monto.
        </p>

        <div #target2><h2 class="titulo">Serie de Fibonacci - Teoría de Elliott - Teoría de Gann</h2></div>
        <p>
        En matemáticas, la sucesión de Fibonacci (a veces mal llamada serie de Fibonacci) es la sucesión infinita de números naturales.
        </p>
        <p>
            0,1,1,2,3,5,8,13,21,34,55,89,144,233,377…
        </p>
        <p>
            Dicho en términos más sencillos, un activo que cotiza en bolsa (por ejemplo, una acción) se mueve en distintas direcciones.
             Unas veces sube, otras veces baja y otras veces no se mueve. El análisis técnico lo que hace es analizar esos movimientos 
             de subida, de bajada o de movimiento lateral, para intentar predecir cuál será el movimiento futuro. Claro que, 
             para analizar esos movimientos utiliza diversas herramientas, las cuales veremos más tarde.
        </p>
        <p>
            La teoría de las ondas de Elliot es una teoría dentro del análisis técnico que estudia los patrones que forman los precios 
            en el gráfico. Analiza los distintos movimientos u «ondas» en cualquier plazo de tiempo, tanto las ondas alcistas como las bajistas.
        </p>
        <p>
            Esta teoría fue desarrollada por Ralph Nelson Elliott en los años 30, durante los años de la gran depresión americana.
             Elliott descubrió que la situación anímica de una gran cantidad de operadores de la bolsa afectaba al precio de los 
             valores. Analizó una serie de moldes o patrones en base a los cuales encuadrar a los operadores, descubriendo que cada 
             patrón era parte de otro patrón o molde superior, el cual estaba dividido en moldes inferiores. Dado que los seres 
             humanos se comportan de la misma manera ante las mismas situaciones estos patrones tienden a repetirse en el tiempo.
        </p>
        <p>
            La teoría de las ondas de Elliot desarrolló el estudio de las ondas financieras de la Teoría de Dow y fueron un 
            complementó evolucionado de ésta. Lo que supuso un gran avance en el conocimiento de cómo funcionan los mercados 
            bursátiles.

        </p>
        <p>
            El abanico de Gann es una herramienta de análisis técnico que está formada por líneas de tendencia con 
            diferentes ángulos de inclinación.

        </p>
        <p>
            Una línea de tendencia bursátil tradicional es una recta que une al menos dos puntos. El abanico de Gann no 
            sigue las reglas tradicionales de trazado. El trazado en este caso se rige por los ángulos respecto al eje 
            de ordenadas. Es decir, respecto al eje vertical. 

        </p>
        <p>
            El nombre de los ángulos proviene de su creador W.D. Gann. Gann fue un analista bursátil que en el siglo XX 
            escribió sus fundamentos para operar en bolsa en su obra «The basis of My Forecasting Method». Esta obra, 
            que consta de algo más de 30 páginas a modo de manual, fue publicada en 1935.
        </p>
            <div #target3><h2 class="titulo">Escalas y períodos de un gráfico</h2></div>  
        <p>
            En el análisis técnico, los gráficos habitualmente representan los períodos o compresión de tiempo en 
            el eje horizontal inferior, y los precios del activo en cuestión se representan en el eje vertical derecho. 
        </p>
        Un gráfico se compone de una sucesión de barras o velas de precios individuales a lo largo del tiempo, 
        cada una con la misma duración que llamamos período de tiempo o compresión. Por ejemplo, un gráfico semanal
         se compone de barras de precios de una semana de duración cada una.

        <p>
            En el análisis técnico se utilizan diferentes períodos de tiempo o compresiones, con el fin de 
            comprender mejor la evolución de un gráfico. Para largo plazo se suelen utilizar compresiones de
             un mes o una semana, para medio plazo compresión diaria, y para corto plazo es común emplear 
             60 minutos, 30, 15 ó 5.

        </p>
        <p>
            Principalmente se utilizan dos: lineal (o aritmética) y logarítmica.
        </p>
        <p>
            La escala de precios lineal se caracteriza por tener unos valores del precio igualmente espaciados, 
            con intervalos constantes. A diferencia de la escala logarítmica, cada cambio en el precio tiene
             la misma distancia vertical en un gráfico, independientemente del nivel de precios en que nos 
             encontremos. Un gráfico lineal no tiene en cuenta que un mismo movimiento determinado del precio, 
             es más significativo cuando la cotización del activo es más baja, que cuando es más alta.
        </p>
        <p>
            La escala lineal se utiliza principalmente para operaciones de corto plazo, tanto en acciones como 
            en futuros. La escala lineal se identifica fácilmente al ver la escala de precios espaciada uniformemente.
        </p>
        <p>
            La escala logarítmica es una escala de medida que emplea el logaritmo del intervalo del precio, 
            en lugar del propio valor del intervalo. Resulta útil cuando los precios cubren una amplia gama 
            de valores, la escala logarítmica los reduce a un rango mucho más manejable. Se identifica al ver
             que la escala de precios no está espaciada uniformemente, se va reduciendo progresivamente
             hacia arriba.
        </p>
            <div #target4><h2 class="titulo">Análisis de velas</h2> </div>        
        <p>
            Las velas japonesas son una forma de representación gráfica de la información esencial de la 
            cotización de un activo financiero en un determinado periodo de tiempo.
        </p>
        <p>
            Las velas japonesas son una alternativa a la representación gráfica habitual en forma de línea. 
        </p>
        <p>
            Por ejemplo, un gráfico diario, representará la unión de los precios de cierre a final de cada 
            día. Si el gráfico fuera de periodicidad mensual, estaría formado por los precios de cierre 
            al final de cada mes. La única información que podemos apreciar, son los precios de cierre.
        </p>    
        <p>
            Dicho esto, existen diferentes opciones para obtener más información sobre el precio con un 
            simple vistazo al gráfico. Una de esas opciones son los gráficos de velas japonesas. Las velas 
            japonesas, a diferencia de los gráficos en forma de línea, nos informan, en general, de cuatro 
            parámetros. Nos informan del precio de apertura, de cierre, el máximo y el mínimo. Además, 
            para distinguir entre periodos alcistas y bajistas, se suelen rellenar los cuerpos de cada 
            vela con distintos colores.

        </p>   
        <p>
            Como ya hemos dicho, las velas japonesas tienen la principal ventaja de nutrirnos de mayor información 
            con un simple vistazo. Quizás, al principio, pueda parecer más complejo. Sin embargo, aunque en 
            realidad es así, con el tiempo y la experiencia resulta mucho más fácil analizar este 
            tipo de gráficos. Para aprender a interpretar gráficos de velas japonesas, explicaremos 
            la estructura de las velas japonesas.

        </p>   
        <p>
            Podemos diferenciar entre velas japonesas alcistas y bajistas. Dicho sea de paso, y para abreviar, 
            en ocasiones haremos referencia al término «velas» como sinónimo de velas japonesas. Las velas alcistas
             se colorean de blanco o de verde, mientras que las bajistas se colorean de negro o de rojo.

        </p>  
        <p>
            La razón por la cual es importante conocer las muchas formas que pueden adoptar las velas 
            japonesas, radica en su utilidad para analizar el precio. Esto es, según la forma que 
            tenga una vela o un conjunto de ellas, eso tendrá unas implicaciones. Los patrones de 
            velas japonesas se incluyen dentro del análisis técnico. Más concretamente, dentro del 
            análisis chartista. Si bien es cierto, todo sea dicho, que algunos analistas lo consideran
             un tipo de análisis en sí mismo. A continuación se muestra un ejemplo de velas japonesas 
             con implicaciones alcistas y bajistas.

        </p>  
            <div #target5><h2 class="titulo">Volumen e interés abierto</h2></div>     
        <p>
            El volumen bursátil es el número de títulos o contratos que se negocian de un activo
             financiero en un mercado.
        </p>
        <p>
            Es un elemento muy importante a tener en cuenta, ya que expresa el estado de emoción
             de los inversores hacia ese activo, comprando y vendiendo este activo, dependiendo 
             de su volumen de negociación, de forma más activa o menos activa.
        </p>
        <p>

            El volumen de negociación nos dice si un activo es líquido o no, dado que a mayor 
            volumen, mayor liquidez  y capitalización, siendo menor la diferencia entre el 
            precio de compra y el precio de venta, esto es, el spread.
        </p>
        <p>
            Si multiplicamos el volumen diario por el precio promedio del activo en cuestión,
             podremos obtener una cantidad estimada del dinero que se movió para ese instrumento.
        </p>
        <p>
            El volumen de negociación, es una herramienta de análisis bursátil que nos permite 
            anticipar posibles fluctuaciones o cambios de tendencia según las subidas o bajadas 
            en los precios de los activos que estemos negociando. En cualquier caso, el volumen 
            tiene que ser acompañado de otros indicadores técnicos que nos permitan ver de una 
            forma más clara la tendencia del mercado.
        </p>
        <p>
            El interés abierto es el volumen de posiciones abiertas en un contrato de futuros 
            o de opciones financieras en un momento determinado del tiempo. A este concepto,
             también se le conoce como Open Interest.
        </p>
        <p>
            Para simplificar la explicación del concepto, trataremos solo el mercado de 
            futuros. Sin embargo, todo lo explicado será aplicable al mercado de opciones.
        </p>
        <p>
            El interés abierto se define también como la cantidad de contratos que están
             obligados a comprar los inversores que han tomado posiciones largas. Y, dado 
             que es un juego de suma cero, a la cantidad de contratos que están obligados 
             a vender al vencimiento los inversores que han tomado posiciones cortas.
        </p>

     
            <div #target6><h2 class="titulo">Tendencias - Soportes y resistencias</h2></div> 
        <p>
            La tendencia, en economía, es el patrón de movimiento que siguen una serie 
            de observaciones de una serie temporal en un momento determinado del tiempo.

        </p>   
        <p>
            La tendencia, visto de otro modo, es la dirección que siguen una serie de elementos.
             Esto, teniendo en cuenta que los datos de una serie, usualmente, fluctúan en un 
             intervalo. Es decir, se mantienen entre un máximo y mínimo, dibujando en una 
             representación gráfica un zigzag.
        </p>
        <p>
            El concepto de tendencia es de gran importancia en el análisis técnico. Este 
            es un tipo de análisis bursátil que estudia los movimientos de los mercados 
            financieros (por ejemplo, de las acciones de una empresa) a través de indicadores 
            y gráficos.
        </p>
        <p>
            Sin embargo, la tendencia no es única de los mercados financieros, sino de 
            otras variables económicas como el producto interior bruto (PIB) o la tasa 
            de desempleo.
        </p>
        <p>
            Vale mencionar que, en un sentido general, la tendencia se refiere a la inclinación 
            que tiene un individuo respecto a una cosa determinada. Por ejemplo, la tendencia a 
            ver películas de acción en lugar de películas románticas.
        </p>
        <p>
            De igual modo, tendencia puede también definirse como una ideología, política o 
            religiosa. Por ejemplo, se puede decir que un Gobierno tiene una tendencia 
            autoritaria si comienza a amenazar con censurar los medios de comunicación.
        </p>
        <p>
            El soporte es un indicador bursátil técnico de tipo chartista que muestra un zona de suelo en el precio de un activo financiero, es decir, zonas dónde el precio se encuentra sobrevendido y por tanto al bajar hasta ese nivel rebota hacia arriba. Lo contrario a la resistencia es la resistencia.
        </p>
        <p>
            Los soportes se consideran una herramienta muy útil para ver si el precio es sobrevendido o no y, de este modo, analizar si el precio es «barato» en base a la situación de ese activo.
        </p>
        <p>
            La teoría del análisis técnico nos dice que cuando los precios llegan a una zona de Soporte el inversor tiene que comprar ese activo financiero, ahora bien, para que un nivel se considere soporte tiene que haber una reacción de precios similar en el pasado dónde éstos hayan rebotado al alza y también debe acompañarse de un importante volumen de negociación de compra, ya que sin éste la fiabilidad del nivel de soporte no sería válida.
        </p>
        <p>
            Del mismo modo, si una zona de precios considerada como soporte toca muchas veces en un corto período de tiempo, podemos considerar que no es válido, ya que la probabilidad de que no funcione es mayor.
        </p>
        <p>Existen inversores que buscan la ruptura de los soportes a la baja para introducir posiciones bajistas o alcistas, una vez han roto este nivel en un determinado porcentaje. Esta estrategia es muy agresiva y no es las más recomendable, si bien es cierto que la decisión de inversión recae en el propio inversor.</p>
        <p>La resistencia en un indicador bursátil de tipo chartista que sirve para localizar techos de precios, es decir, zonas dónde el precio se encuentra sobrecomprado y por tanto al subir hasta ese nivel rebota hacia abajo. Lo contrario a la resistencia es el soporte.</p>
        <p>La teoría del análisis técnico dice que cuando el precio llega a una resistencia la operación que se tiene que llevar a cabo es una orden de venta o posición corta, y esto es únicamente posible a través de derivados financieros. Sin embargo, también existen operadores de mercado que atacan el precio de forma agresiva una vez éste supera con holgura en un determinado porcentaje la resistencia marcada, dado que se espera que al romper la resistencia el precio suba bruscamente.</p>
        <p>La consideración de zona de resistencia se tiene que dar cuando ya en el pasado haya actuado como zona de conflicto de precios, siempre y cuando esté acompañada de un importante volumen de negociación de venta. En este aspecto, cuánto más volumen exista, mayor fiabilidad tendrá la resistencia y más seguros nos encontraremos en esa operación.</p>
        
        
        <div #target8><h2 class="titulo">EMA - MACD - RSI</h2></div> 

        <p>El indicador técnico "Media Móvil" (Moving Average, MA) muestra el valor medio del precio de un instrumento durante un determinado período de tiempo. Dicho período se especifica en su nombre (por ejemplo, MA20 refiere a 20 unidades de tiempo). Cuando se calcula Moving Average, se promedia matemáticamente el precio del instrumento durante un período de tiempo dado. En función del cambio del precio, su valor medio va aumentando o disminuyendo.

            Hay varios tipos de medias móviles: simple (SMA), exponencial (EMA), suavizada y ponderada. La Moving Average puede ser calculada para cualquier conjunto secuencial de datos, incluyendo los precios de apertura y cierre, mínimos y máximos, volumen de trading o valores de otros indicadores. A menudo se utilizan las medias móviles de las mismas medias móviles.
            
            Lo único en que se diferencian sustancialmente las Medias Móviles de diferentes tipos son diferentes coeficientes ponderales que se asignan a los últimos datos. En caso de la Media Móvil Simple (Simple Moving Average), todos los precios del período considerado tienen el mismo peso. La Media Móvil Exponencial y la Pondera (Exponential Moving Average y Linear Weighted Moving Average) asignan más valor a los últimos precios.</p>
        
        <p>El indicador MACD o media móvil de convergencia/divergencia es un indicador de análisis técnico usado para identificar cambios en el impulso del precio de una acción. El indicador MACD recoge información de diferentes medias móviles y, así, ayuda a identificar posibles oportunidades de inversión cercanas a los niveles de soporte y resistencia.

            Convergencia significa que dos medias móviles se están acercando, mientras que divergencia significa que se están alejando la una de la otra.
            
            El indicador MACD está formado por tres componentes: la línea MACD, que mide la distancia entre dos medias móviles; la línea de señal, que detecta cambios en el impulso de un precio y activa señales de compra y venta; y el histograma, que representa la diferencia entre la MACD y la línea de señal.
        
            Una estrategia con una media móvil simple puede ser útil para configurar las señales de compra y venta, pero esta estimación puede retrasarse y, por lo tanto, las condiciones del mercado podrían cambiar antes de ejecutar una orden. La media móvil convergencia/divergencia goza de popularidad porque proporciona una representación actualizada de lo que acontece en el mercado.
        </p>

        <p>
            El RSI o índice de fuerza relativa es un oscilador que refleja la fuerza relativa, valga la redundancia, entre la tendencia alcista y bajista. Mide la relación entre los movimientos ascendente, descendentes y normaliza el cálculo para que este fluctúe en una escala del 0 al 100.
            Entre los 50 y 30 puntos: Camino niveles de sobre venta, por lo que el precio podría caer bruscamente debido a la pérdida de fuerza de la tendencia.
            Entre los 50 y 70 puntos: Dirección hacia niveles de sobre compra, el precio ha subido con fuerza pero está perdiendo potencia la tendencia alcista.
            Cruce 30, 50 y 70 puntos: La superación de estos niveles será la que nos dará una señal de trading para entrar o salir del mercado.

            Si se produce una ruptura de los 70 puntos, el mercado está confirmando la sobre compra, por lo que es posible que el precio gire a la baja. Las ventas se realizan cuando gira a la baja.
            Si se da el quiebre de los 30 puntos, se confirma el escenario de sobre venta, por lo que le precio puede repuntar al alza. Las compras se realizan cuando gira al alza.
            Por último, si supera los 50 puntos el escenario será alcista, si lo quiebra es bajista, por lo que es un punto intermedio.
        </p>


        <div #target7><h2 class="titulo">Figuras chartistas</h2></div> 
        <p>Partimos de que la cotización es el precio al que se ha realizado la compra/venta de una acción en bolsa. Es decir, es el precio de equilibrio para un título en función de la oferta y la demanda. </p>
        <p>Actualmente en las bolsas españolas, incluso en los mercados de corros, la cotización se expresa en Euros. A lo largo de una sesión de bolsa hay muchas operaciones de compra venta a diferentes precios por lo que hay muchas cotizaciones, que se concentran entre las cotizaciones máxima y mínima de la sesión. Al precio de la última operación de compra venta de la sesión, se le llama cotización de cierre.</p>
        <p>En un Chart, esto se refleja con una barra vertical de la cotizacion de cada dia (o intradia) que va desde el mínimo del dia al máximo, una pequeña barra horizontal a la derecha de la misma a la altura del precio de cierre, y una pequeña barra horizontal a la izquierda a la altura del precio de apertura. </p>
        <p>Asi la barra diaria de cotizacion nos indica: Apertura, Maximo, Minimo y Cierre.</p>
        <p>Estas barras, segun su colocacion en virtud de los precios diarios (O intradiarios) dan lugar a distintas figuras geometricas a lo largo de los dias (Triangulos, rectangulos, etc.) lo que se viene en llamar figuras chartistas.</p>

    </div>
    <div class="cuerpoindice">
        <div class="indice">
            <span class="font-normal text-4xl">INDICE</span>
        </div>
        <div>
            <button (click)="scroll(target)" class="iale"><span class="font-normal text-2xl">Introducción</span></button>
        </div>
        <div>
            <button (click)="scroll(target1)" class="iale"><span class="font-normal text-2xl">Datos sobre acciones y método</span></button>
        </div>
        <div>
            <button (click)="scroll(target2)" class="iale"><span class="font-normal text-2xl">Serie de Fibonacci - Teoría de Elliott y de Gann</span></button>
        </div>
        <div>
            <button (click)="scroll(target3)" class="iale"><span class="font-normal text-2xl">Escalas y períodos de un gráfico</span></button>
        </div>
        <div>
            <button (click)="scroll(target4)" class="iale"><span class="font-normal text-2xl">Análisis de velas</span></button>
        </div>
        <div>
            <button (click)="scroll(target5)" class="iale"><span class="font-normal text-2xl">Volumen e interés abierto</span></button>
        </div>
        <div>
            <button (click)="scroll(target6)" class="iale"><span class="font-normal text-2xl">Tendencias - Soportes y resistencias</span></button>
        </div>
        <div>
            <button (click)="scroll(target8)" class="iale"><span class="font-normal text-2xl">EMA - MACD - RSI</span></button>
        </div>
        <div>
            <button (click)="scroll(target7)" class="iale"><span class="font-normal text-2xl">Figuras chartistas</span></button>
        </div>
    </div>
</div>
</div>
