
.ABC{
    color: white;
    margin-left: 11vw; /*VW*/
}
.ECONOMIA{
    color: yellow;
    margin-left: 11vw;
}
.texto{
    color: white;
    overflow: auto;
    height: 75vh; /*vh*/
    width: 51vw;
    margin-left: 21vh;
    padding: 1%;
}
p{
    text-align: justify;
}
.cuerpoindice{
    margin-left: 30vh;
}
.titulo1{
    color: rgb(143, 27, 27);
}
.titulo2{
    color: rgb(143, 27, 27);
}
.titulo3{
    color: rgb(143, 27, 27);
}
.titulo4{
    color: rgb(143, 27, 27);
}
.titulo5{
    color: rgb(143, 27, 27);
}
.titulo6{
    color: rgb(143, 27, 27);
}
.indice{
    color: yellow;
}
.iale{
    color: white;
}
