<div class="fondo"> 
        
    <div class="ABC">
        <span class="font-normal text-6xl">VARIABLES</span>
    </div>     
 
  
    <div class="ECONOMIA">
        <span class="font-normal text-6xl">MACROECONÓMICAS</span>
    </div>
  
<div class="grid grid-cols-2">
    <div class="texto">
        <div #target><h2 class="titulo1">Introducción</h2></div>
        <p>
            Como definición técnica podemos mencionar que las variables macroeconómicas son variables estadísticas que recogen información sobre un fenómeno económico.
        </p>
        <P>
            Las variables económicas son una parte muy importante de la economía. Ya que, si bien es cierto que una parte de los fenómenos económicos no se pueden cuantificar o es muy difícil cuantificarlos, nos ayudan a estudiar la evolución de la economía.
        </P>
        <P>
            Hasta bien entrado el siglo XX las variables económicas eran intuidas. Es decir, dado que no existían herramientas que permitieran recoger datos y procesarlos, se trabaja con ellas bajo supuestos lógicos. Por ejemplo, la variable oferta o la variable empleo. Con el surgimiento de las nuevas tecnologías, el avance sobre el estudio de las variables económicas ha permitido contrastar antiguas teorías y crear nuevas teorías desde un punto de vista empírico.
        </P>
        <P>
            Como cualquier otra variable estadística, no todas son directamente observables o cuantificables. Por ejemplo, los gustos de un consumidor no son directamente observables. Podemos realizar encuestas y trabajar sobre ellas, pero se trata de algo estimado.
        </P>

        <div #target2><h2 class="titulo2">Sistema financiero</h2></div>
        <p>
            El sistema financiero es el conjunto de instituciones (entidades financieras y gubernamentales), medios (activos financieros) y mercados que hacen posible que el ahorro (dinero ocioso) de unos agentes económicos vaya a parar a manos de los demandantes de crédito.
        </p>
        <P>
            el sistema financiero sirve para intermediar entre los que tienen exceso de dinero y lo quieren prestar, y los que necesitan financiación. Es decir, lo que genera el sistema financiero son créditos. Un actor muy importante dentro del sistema financiero son los bancos, que hacen de intermediarios entre los que tienen exceso de dinero y los que lo necesitan.
        </P>
        <P>
            Además, facilitan las condiciones para las dos partes. Adecuan en tiempo y cantidad el dinero que reciben y prestan, en función de las necesidades del agente económico con exceso de dinero y del demandante de dinero. Sería imposible el préstamo directo por parte del oferente de ahorro y del demandante, porque probablemente sus necesidades de dinero no serían las mismas en cuanto a cantidad y tiempo.
        </P>
        <P>
            Desde el punto de vista del que tiene el exceso de dinero, sería una inversión pues este depósito en el banco generaría una rentabilidad. Y, desde la perspectiva del que quiere financiación, sería un préstamo por un determinado plazo, por el que tendrá que pagar unos intereses además de devolver el principal.
        </P>
            <div #target3><h2 class="titulo3">Tipos de cambio</h2></div>  
        <p>
            La tasa o tipo de cambio entre dos divisas es la tasa o relación de proporción que existe entre el valor de una y la otra. Dicha tasa es un indicador que expresa cuántas unidades de una divisa se necesitan para obtener una unidad de la otra.
        </p>
        <P>
            Por ejemplo, si la tasa de cambio entre el euro y el dólar estadounidense EUR/USD fuera de 1.12, ello significa que el euro equivale a 1.12 dólares. Del mismo modo, si la tasa se calcula a la inversa (USD/EUR), ello resulta en una tasa de 0.89, lo cual significa que el dólar equivale a 0.89 euros.
        </P>
        <P>
            El nacimiento de un sistema de tipos de cambio proviene de la existencia de un comercio internacional entre distintos países que poseen diferentes monedas. Si por ejemplo, una empresa mexicana vende productos a una empresa española, desea cobrar en pesos, por lo que la empresa española deberá comprar pesos mexicanos y utilizarlos para pagar al fabricante mexicano. La divisa para pagos internacionales se compra predominantemente de bancos y varias formas de casas de cambio. El tipo de cambio está determinado por el valor de mercado de las distintas monedas en el mercado internacional.
        </P>

            <div #target4><h2 class="titulo4">Dinero</h2> </div>        
        <p>
            Dinero es todo activo o bien generalmente aceptado como medio de pago por los agentes económicos para sus intercambios y que además cumple las funciones de ser unidad de cuenta y depósito de valor. Algunos ejemplos de dinero son: las monedas, las divisas y los billetes, las tarjetas de débito y crédito, y las transferencias electrónicas, entre otros.
        </p>
        <P>
            El dinero tal como lo conocemos hoy (billetes y monedas sin valor propio), debe estar avalado o certificado por la entidad emisora. Para su aceptación necesita de la construcción de mecanismos de legitimidad y de confianza. Actualmente son los gobiernos, a través de las leyes, quienes determinan cuál es el tipo de dinero de curso legal. Pero son otras entidades, como los bancos centrales y las casas de la moneda (ceca), los que se encargan, primero, de regular y controlar la política monetaria de una economía, y segundo, de crear las monedas y billetes según la demanda y la necesidad de tener en circulación dinero físico. Desde un punto de vista de las Ciencias Sociales entra en juego el factor social ya que la moneda al ser «un bien público», en tanto que presta servicios de tal naturaleza, debe ser regulada por las autoridades públicas (mediante los bancos centrales) en cuanto representantes del interés público, y no solamente a través de los mecanismos de mercado.
        </P> 
            <div #target5><h2 class="titulo5">Modelo Keynesiano</h2></div>     
        <p>
            El modelo keynesiano es una teoría económica desarrollada por John Maynard Keynes a través de un modelo económico, en el cual se demuestra fundamentalmente la relación que existe entre el nivel de ocupación o empleo y el nivel de ingresos de un lugar.
        </p>
        <P>
            El modelo keynesiano se desarrolla en una época en la cual la teoría económica estaba dominada por el pensamiento clásico. Los principales supuestos clásicos sobre la teoría de la ocupación y el empleo eran que la economía tiende hacia una posición de equilibrio con pleno empleo.
        </P>
        <P>
            Los economistas clásicos suponían que el desempleo era causado básicamente por la oposición de los trabajadores de aceptar los niveles de salarios marcados por el mercado. Precisamente, el modelo keynesiano fue desarrollado para refutar las conclusiones a la cual llegaban los economistas clásicos mediante sus análisis económicos.
        </P>
        
            <div #target6><h2 class="titulo6">Monetarismo</h2></div> 
        <p>
            El monetarismo es una doctrina económica que estudia los efectos de las variaciones de la oferta monetaria sobre las variables económicas relevantes (como empleo, precios o producción).
        </p>   
        <P>
            El monetarismo se basa en la idea de que un aumento en la oferta monetaria, esto es, el total de dinero en efectivo y cheques que circula en la economía, aumentará la producción en el corto plazo y la inflación en el largo plazo.
        </P>
        <P>
            Su vinculación con la Escuela de Chicago es evidente ya que uno de sus principales exponentes es el premio Nobel de Economía Milton Friedman, quien lideró dicha escuela por muchos años.
        </P>
        <P>
            El monetarismo plantea que mientras las autoridades monetarias (banco central u otros) tienen el control de la oferta nominal, las personas basan sus decisiones con respecto a la cantidad de dinero real que desean obtener/mantener.
        </P>

        <P>
            De esta forma, cuando la oferta de dinero crece más allá de los que las personas desean mantener, estas buscarán reducir su cantidad de dinero comprando bienes o activos. Con este comportamiento, una mayor disponibilidad de dinero incrementaría la producción en el corto plazo. No obstante, en el largo plazo no es posible liberarse del exceso de oferta monetaria (sobre todo si la economía se encuentra cerca de su potencial) por lo que los precios se ajustarán al alza.
        </P>
        <P>
            Se recomienda entonces que las autoridades monetarias se sujeten a una regla monetaria en donde se aumenta la cantidad de circulante a una tasa constante y estable que se relacione directamente con la tasa de crecimiento del país.
        </P>
        <P>
            Asimismo, el monetarismo señala que la inflación es un proceso meramente monetario causado por un aumento del dinero en circulación. Dado lo anterior, una de las herramientas que tiene la autoridad monetaria para controlar la inflación es manejar la tasa de interés 
        </P>
        <div #target7><h2 class="titulo6">Inflación</h2></div> 
        <P>
            La inflación es un aumento generalizado en los precios de los bienes y servicios de una economía durante un periodo de tiempo. 
        </P>
        <P>
            Cuando oímos que ha habido inflación significa que los precios han subido o se han «inflado», de ahí su nombre.﻿
        </P>
        <P>
            Existe inflación cuando aumentan de forma sostenida los precios del conjunto de bienes y servicios de una economía. Es decir, cuando la media de los precios de todos los bienes y servicios de un país sube.
        </P>
        <P>
            A continuación, vamos a ver la importancia de conocer bien el significado de inflación.
        </P>
        <P>
            Es un fenómeno que ocurre en casi todos los países, de hecho, los bancos centrales siempre tratan de que en su país haya algo de inflación, normalmente entre el dos y el tres por ciento.
        </P>
        <P>
            Si no hubiera inflación, los precios bajarían (deflación), que es el temor de cualquier responsable económico de un país. La deflación puede ralentizar el consumo y el crecimiento económico. Pudiendo, además, derivar en una espiral deflacionista con terribles consecuencias para la economía del país.
        </P>
        <P>
            La inflación es uno de los aspectos más importantes en el estudio de la macroeconomía y en la política monetaria de los bancos centrales. Por ejemplo, el principal objetivo del Banco Central Europeo (BCE) es conseguir la estabilidad de precios, manteniendo una tasa de inflación del 2% anual.
        </P>
        <P>
            Una de las funciones de los precios es permitir a los compradores indicar la cantidad de producto que desean comprar según el precio del mercado y a los empresarios determinar la cantidad de producto que desean vender a cada precio. Los precios garantizan que los recursos se repartan de manera eficiente para alcanzar un equilibrio de mercado y así, los recursos se pueden asignar de manera eficiente. No obstante, lo más común es que los precios aumenten, provocando lo que se llama inflación.
        </P>
    </div>
    <div class="cuerpoindice">
        <div class="indice">
            <span class="font-normal text-4xl">INDICE</span>
        </div>
        <div>
            <button (click)="scroll(target)" class="iale"><span class="font-normal text-2xl">Introducción</span></button>
        </div>
        <div>
            <button (click)="scroll(target2)" class="iale"><span class="font-normal text-2xl">Sistema financiero</span></button>
        </div>
        <div>
            <button (click)="scroll(target3)" class="iale"><span class="font-normal text-2xl">Tipos de cambio</span></button>
        </div>
        <div>
            <button (click)="scroll(target4)" class="iale"><span class="font-normal text-2xl">Dinero</span></button>
        </div>
        <div>
            <button (click)="scroll(target5)" class="iale"><span class="font-normal text-2xl">Modelo Keynesiano</span></button>
        </div>
        <div>
            <button (click)="scroll(target6)" class="iale"><span class="font-normal text-2xl">Monetarismo</span></button>
        </div>
        <div>
            <button (click)="scroll(target7)" class="iale"><span class="font-normal text-2xl">Inflación</span></button>
        </div>
    </div>
</div>
</div>
