<div class="container-card mx-auto">
    <div class="grid grid-cols-3">
        <div align="center">
            <mat-card>
                <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C5603AQFjUGnWTw3beA/profile-displayphoto-shrink_200_200/0/1552430780678?e=1632355200&v=beta&t=zRkfbsg73OK2xyRbl3YtDQ8EQOK_qCZQpiP6pn4BGW0">
                <p><span class="font-extrabold text-xl" style="color: #cccc00"> Agustín L. Córdoba</span></p>
                <p><span class="font-extrabold text-normal" style="color: #cccc00"> PM - FrontEnd Dev.</span></p>
                <!-- ver de reemplazar por ícono-->
                <button mat-flat-button color="primary"><a href="https://ar.linkedin.com/in/aguscdb">LinkedIn</a></button>
            </mat-card>              
        </div>
        <div align="center">
            <mat-card>
                <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C4D03AQFVZ60o-Rt19w/profile-displayphoto-shrink_200_200/0/1580259286505?e=1632355200&v=beta&t=vjbmQ-ei1SNRMVqC1krr4T5_vmKNxcE-YVImUv35STU">
                <p><span class="font-extrabold text-xl" style="color: #cccc00"> Lucas D. Randisi</span></p>
                <p><span class="font-extrabold text-normal" style="color: #cccc00"> FullStack Dev.</span></p>
                <!-- ver de reemplazar por ícono-->
                <button mat-flat-button color="primary"><a href="https://ar.linkedin.com/in/lucas-randisi-4635081a1">LinkedIn</a></button>
            </mat-card> 
        </div>
        <div align="center">
            <mat-card>
                <img mat-card-image src="https://scontent.fros8-1.fna.fbcdn.net/v/t1.6435-1/p200x200/51952958_2906753912673491_2823715236459053056_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=7206a8&_nc_ohc=QDwCMLQIRrwAX9zJwtH&_nc_ht=scontent.fros8-1.fna&oh=171c022352f3172ff4066ecfb804df6d&oe=61217373">
                <p><span class="font-extrabold text-xl" style="color: #cccc00"> Augusto A. López</span></p>
                <p><span class="font-extrabold text-normal" style="color: #cccc00"> Analista</span></p>
                <!-- ver de reemplazar por ícono-->
                <button mat-flat-button color="primary"><a href="">LinkedIn</a></button>
            </mat-card> 
        </div>
    </div>


</div>
