ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 29, 1);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(252, 207, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(44, 44, 44);
}

#page {
    margin:100px 0;
    position:relative;
    background:#FF9; 
}

#body{
    background:black;
}

