<div class="fondo"> 
        
    <div class="ABC">
        <span class="font-normal text-6xl">FINANZAS</span>
    </div>     
 
  
    <div class="ECONOMIA">
        <span class="font-normal text-6xl"></span>
    </div>
  
<div class="grid grid-cols-2">
    <div class="texto">
        <div #target><h2 class="titulo1">Introducción.</h2></div>
        <p>
            Las finanzas corresponden a un área de la economía que estudia la obtención y administración del dinero y el capital, es decir, los recursos financieros. Estudia tanto la obtención de esos recursos (financiación), así como la inversión y el ahorro de los mismos.
        </p>
        <P>
            Las finanzas estudian cómo los agentes económicos (empresas, familias o Estado) deben tomar decisiones de inversión, ahorro y gasto en condiciones de incertidumbre. Al momento de elegir, los agentes pueden optar por diversos tipos de recursos financieros tales como: dinero, bonos, acciones o derivados, incluyendo la compra de bienes de capital como maquinarias, edificios y otras infraestructuras. Ver diferencia entre ahorro e inversión.
        </P>
        <P>
            Los intermediarios financieros son los agentes dedicados a poner en contacto las dos partes de las finanzas, los ahorradores y los que necesitan financiación.
        </P>
        <P>
            Las finanzas ayudan a controlar los ingresos y gastos, tanto al Gobierno, a las empresas, como a cada uno de nosotros. Tener un buen control de las finanzas nos permite gestionar mejor nuestros recursos, conociendo al detalle todos los ingresos y gastos, para tener un mayor control sobre ellos mismos.
        </P>

        <div #target2><h2 class="titulo2">Mercados mundiales. Funcionamiento.</h2></div>
        <p>
            El mercado global es un sistema en el que se genera un intercambio comercial, de capitales y de mano de obra entre distintos países. Esto, con base en la división internacional del trabajo.
        </p>
        <P>
            Es decir, un mercado global es aquel donde varias naciones establecen relaciones económicas y financieras, y además se da una libre circulación del capital humano.
        </P>
        <P>
            Debemos recordar que con división internacional del trabajo nos referimos a que los distintos países se especializan en la producción de diferentes bienes y servicios. Esto, con el fin de aprovechar sus ventajas comparativas.
        </P>
        <P>
            La ventaja comparativa es la capacidad de una persona, empresa o país para producir un bien usando relativamente menos recursos que otro. Esta es una de las bases del comercio internacional.
        </P>

        <P>
            A diferencia de la teoría de la ventaja absoluta, la ventaja comparativa toma en cuenta el costo de oportunidad. De ese modo, aunque un país A sea menos eficiente que otro país B en producir todo, esto no quiere decir que A y B no puedan intercambiar.
        </P>
        <P>
            Por ejemplo, supongamos que el país A es más eficiente que el país B en producir plátanos y manzanas. Sin embargo, dejar de producir 1 kg de plátano en el país A permite producir 2 kg más de manzana (el costo de oportunidad de cada kg de manzana es 1/2 kg de plátano). Mientras, en el país B renunciar a producir 1 kg de plátano permite producir 3 kg más de manzana (el costo de oportunidad de cada kg de manzana es 1/3 de kg de plátano). Lo anterior quiere decir que, aunque el país A tiene ventaja absoluta sobre el país B (en plátanos y manzanas), el país B puede venderle manzanas al país A porque su costo de oportunidad es menor para dicho producto (1/3 kg< 1/2kg).
        </P>
        <P>
            Para entender mejor este tema, te recomendamos revisar diferencia entre ventaja absoluta y comparativa.
        </P>
        <P>
            Debemos resaltar que un mercado totalmente global es una aspiración, más que algo real. En ese sentido, los países firman acuerdos de libre comercio y se pactan otros tipos de tratados de integración económica.
        </P>
        
        
            <div #target3><h2 class="titulo3">Trader, broker y market maker.</h2></div>  
        <p>
            Trader es todo aquel inversor o especulador que opera en los mercados financieros con la finalidad de obtener beneficios en el corto, medio o largo plazo.
        </p>
        <P>
            Puede actuar de forma independiente o trabajar para un banco de inversión, actuando, en muchos casos, como market maker en las mesas de front office o tesorería.

        </P>
        <P>
            El trader puede operar sobre cualquier producto o modalidad de inversión, ya sean de contado o de futuro, productos de renta fija, renta variable, materias primas, tipos de interés, derivados organizados, derivados no oganizados u OTC, divisas, fondos de inversión, ETFs. Dependerá de su disponibilidad y experiencia su exposición a las diferentes clases de activos que forman parte de los mercados financieros, ya que cada mercado tiene sus características propias.
        </P>
        <P>
            Cada trader, en base a su poder adquisitivo, definirá sus reglas de comportamiento y realizará un análisis bursátil buscando un ratio de riesgo-beneficio óptimo. 
        </P>
        <P>
            Además, es importante tener en cuenta que un inversor se hace trader a base de experiencia, psicología (elemento muy importante) y a una adecuada gestión monetaria.
        </P>
        <P>
            El inversor tomará sus decisiones de inversión teniendo en cuenta el análisis técnico y el análisis fundamental (ver tipos de análisis bursátil) o bien, podrá actuar a través de sistemas automáticos de inversión que trabajan por sí solos, creados a través de reglas de precios programadas que invierten en muchos casos, en lapsos de tiempo muy cortos. Esta modalidad de trading es especial y se conoce como HFT (High Frecuency Trading). Existen diferentes tipos de trading que podréis ver aquí.
        </P>
        <P>
            Un bróker es una persona o una empresa que intermedia en la compra-venta de productos financieros cargando una comisión al inversor una vez se ejecuta la operación.
        </P>
        <P>
            Para que una empresa pueda constituirse como bróker e intermediar en la compra de activos financieros, se requiere de una licencia especial y el cumplimiento de una serie de regulaciones en materia financiera. Dependiendo del tipo del licencia, se permitirá al bróker incluso asesorar en materia financiera al inversor.
        </P>
        <P>
            Existen diferentes tipos de bróker: de negocios, bolsa de valores, energía, aduanas, bienes raíces, etc. Si tratamos con brókeres que operan en mercados globales, estos suelen tener sistemas muy sencillos para abrir una cuenta operativa y depositar el capital. Ofreciendo soporte telefónico y manual a la hora de introducir órdenes, siempre y cuando la licencia se lo permita, aportando una plataforma de inversión dónde poder realizar operaciones. Además, indicar que también pueden existir brókeres que utilicen modelos combinados de negocio entre los mencionados anteriormente.
        </P>
        <P>
            Los market makers, o bien, creadores de mercado, también se conocen como proveedores de liquidez, lo que explica vagamente lo que hacen. Los market makers suelen ser grandes bancos o instituciones financieras que mantienen funcional el mercado inyectándole liquidez.
        </P>
        <P>
            En términos simples, aseguran que los activos financieros puedan convertirse fácilmente en dinero "utilizable": si deseas vender un activo, están allí para comprarlo; si vas a comprar, ellos pueden venderlo. A su vez, obtienen ganancias del spread de bid-ask. 
        </P>
        <P>
            La creación de mercado prevalece en el cambio de divisas, donde los participantes suelen ser bancos y empresas de trading. En teoría, un individuo también puede "crear un mercado", pero el tamaño de las inversiones necesarias es una gran limitación. Se necesitan fondos enormes para poder estar siempre listo para comprar o vender.
        </P>
            <div #target4><h2 class="titulo4">Opciones de compra y venta.</h2> </div>        
        <p>
            Una opción de compra (opción call) es un derivado financiero que otorga al comprador el derecho (pero no la obligación) de comprar en el futuro un activo al vendedor de la opción a un precio determinado previamente.
        </p>
        <P>
            El dueño o comprador de una opción call se beneficia de la opción si el activo subyacente sube, es decir, si cuando llega la fecha de vencimiento de la opción call, el activo (una acción por ejemplo) tiene un precio mayor que el precio acordado. En ese caso, el comprador de la opción ejercerá su derecho y comprará el activo al precio acordado y lo venderá al precio actual de mercado, ganando la diferencia.
        </P>
        <P>
            Si el precio resulta ser menor que el precio acordado, conocido como precio de ejercicio o strike, el comprador no ejercerá su derecho y simplemente habrá perdido la prima que pagó por adquirir la opción. Por lo tanto, su beneficio puede ser ilimitado, pero su pérdida se limita a la prima que pagó.
        </P>
        <P>
            El beneficio del comprador se puede ver más fácilmente en un gráfico. Donde PE es el precio el ejercicio, Bº es el beneficio de la opción y Pª, la pérdida. El precio del activo subyacente es más grande según avanzamos hacia la derecha.
        </P>
        <P>
            Para el vendedor de la opción call, ocurre justamente lo contrario. Su beneficio máximo será el valor por el que vendió la opción, que tendrá siempre que el activo no suba de precio. Y a medida que el precio del activo va subiendo su beneficio se va diluyendo, hasta llegar a un punto en que entra en pérdidas y desde ahí sus pérdidas son ilimitadas.
        </P>
        <P>
            El valor de la opción call en la fecha de vencimiento siempre será mayor o igual que cero. Su valor es el máximo de cero o un variable. Este variable es el valor actual del activo menos el precio de ejercicio. Siendo S el precio del activo al final del periodo establecido.
        </P>
        <P>
            Una opción put es una opción de venta. Otorga al comprador el derecho (pero no la obligación) de vender en el futuro un activo al vendedor de la opción a un precio determinado previamente.
        </P>
        <P>
            El dueño o comprador de una opción put se beneficia de la opción si el activo subyacente baja, es decir, si cuando llega la fecha de vencimiento de la opción put, el activo (una acción por ejemplo) tiene un precio menor que el precio acordado. En ese caso, el comprador de la opción ejercerá su derecho y venderá el activo al precio acordado y después lo comprará al precio actual de mercado, ganando la diferencia.
        </P>
        <P>
            Si el precio resulta ser mayor que el precio acordado, conocido como precio de ejercicio o strike, el comprador no ejercerá su derecho y simplemente habrá perdido la prima que pagó por adquirir la opción. Por lo tanto, su beneficio puede ser ilimitado, pero su pérdida se limita a la prima que pagó.
        </P>
        <P>
            El beneficio del comprador se puede ver más fácilmente en un gráfico. Donde PE es el precio el ejercicio, Bº es el beneficio de la opción y Pª, la pérdida. El precio del activo subyacente es más grande según avanzamos hacia la derecha.
        </P>
        <P>
            Para el vendedor de la opción put, ocurre justamente lo contrario. Su beneficio máximo será el valor por el que vendió la opción, que tendrá siempre que el activo no baje de precio. Y a medida que el precio del activo vaya bajando su beneficio se va diluyendo, hasta llegar a un punto en que entra en pérdidas y desde ahí sus pérdidas son limitadas.
        </P>
        <P>
            El valor de la opción put en la fecha de vencimiento siempre será mayor o igual que cero. Su valor es el máximo de cero o un variable. Este variable es el precio de ejercicio menos el valor actual del activo. Siendo S el precio del activo al final del periodo establecido.
        </P>  
            <div #target5><h2 class="titulo5">Acciones.</h2></div>     
        <p>
            Una acción es un activo financiero que representa una parte alícuota del capital social de una sociedad anónima (S.A).
        </p>
        <P>
            Al adquirir acciones se reciben unos derechos sobre la empresa y se obtiene la categoría de socio. De esta forma el comprador de la acción se convierte en dueño de la empresa en una proporción acorde a las acciones que hayamos comprado.
        </P>
        <P>
            Es decir, mediante la compra de una acción nos convertimos en dueños de esta sociedad.
        </P>
            <div #target6><h2 class="titulo6">La venta corta.</h2></div> 
        <p>
            En finanzas nos referimos a venta corta (del inglés “short selling”) como la práctica que permite a los inversionistas vender un valor financiero (en nuestro caso acciones) que no poseen con la intención de obtener utilidades en caso de que caiga el precio de dicha acción. Se trata de una de las formas más puras de especulación que existen en el mercado y, por lo mismo, se encuentra severamente normado, y en ciertas partes de Europa, incluso parcialmente prohibido.
        </p>   
        <P>
            La venta corta de acciones consiste en la venta de títulos bursátiles en la Bolsa de acciones que el inversor no posee, o también en aquella en que la liquidación de la transacción se realiza con títulos obtenidos en préstamo (usualmente prestadas por una Corredora de Bolsa) y sobre las cuales existe un compromiso de restitución.
        </P>
        <P>
            En una venta corta, el prestatario (también conocido como vendedor en corto) apuesta a que el precio de una acción va a caer, por lo que decide conseguirla en préstamo, venderla, para finalmente volver a comprarla a un precio inferior que el que obtuvo en la venta. Después de esto devuelve la acción al prestamista o corredora.
        </P>
            <div #target7><h2 class="titulo6">Apalancamiento.</h2></div> 
        <P>
            El apalancamiento es una estrategia utilizada para aumentar las ganancias y pérdidas de una inversión.
        </P>
        <P>
            Consiste en utilizar créditos, costes fijos o cualquier otra herramienta a la hora de invertir que permita multiplicar la rentabilidad final de esa inversión, ya sea positiva o negativamente
        </P>
        <P>
            Un mayor grado de apalancamiento conlleva mayores riesgos. Así, aunque se pueden aumentar mucho las ganancias, al hacer uso de este efecto palanca también se pueden aumentar considerablemente las pérdidas.
        </P>
        <P>
            El término “apalancamiento” viene de apalancar. Una definición rigurosa de apalancar según la RAE es: “levantar, mover algo con la ayuda de una palanca”. Como vamos a ver, este concepto no está muy lejos de lo que significa la palabra apalancar, que utiliza la deuda o los costes fijos a modo de palanca para aumentar las posibilidades de inversión.
        </P>
        <div #target8><h2 class="titulo6">Arbitraje.</h2></div> 
        <P>
            El arbitraje es una estrategia financiera que consiste en aprovechar la diferencia de precio entre diferentes mercados sobre un mismo activo financiero para obtener un beneficio económico, normalmente sin riesgo.
        </P>
        <P>
            Para realizar arbitraje se realizan operaciones complementarias (comprar y vender) al mismo tiempo y esperar a que los precios se ajusten. El arbitraje aprovecha esa divergencia y obtiene una ganancia libre de riesgo. Dicho de otra manera, el arbitrajista se posiciona en corto (vende) en el mercado con mayor precio y largo (compra) en el mercado con menor precio. El beneficio vendría dado por la diferencia entre ambos mercados.
        </P>
        <P>
            El arbitraje es posible debido a ineficiencias en los mercados. Cuando no hay posibilidad de hacerlo se dice que se cumple la condición de no arbitraje. Cuanto más eficiente sea un mercado, más difícil será realizarlo.
        </P>
        <P>
            El arbitraje se considera libre de riesgo. Sin embargo, si la diferencia viene dada por una ineficiencia como por ejemplo la liquidez, es posible que esa liquidez no nos permita aprovechar la diferencia de precio o que para aprovecharla estemos asumiendo riesgo de variación de precio y por tanto no estemos realizando arbitraje realmente.
        </P>
        <div #target9><h2 class="titulo6">Órdenes.</h2></div> 
        <P>
            Una orden de compra, también llamada orden de pedido o nota de pedido, es un documento mediante el cual el comprador solicita mercancías al vendedor.
        </P>
        <P>
            De esta forma, lo que hacemos es documentar nuestras necesidades de productos. Lo habitual es enviar este documento al proveedor para que este suministre dicho pedido. Pudiendo hacerlo de forma física o virtual (correo electrónico o página web).
        </P>
        <P>
            El objetivo de la nota de pedido es poder contrastar con posterioridad el albarán de entrega con esta orden y anotar posibles incidencias, así como tener por escrito las condiciones de dicho pedido.
        </P>
        <div #target10><h2 class="titulo6">Futuros.</h2></div> 
        <P>
            Un futuro financiero es un derivado financiero, que se caracteriza por ser un acuerdo por el que dos inversores se comprometen en el presente a comprar o vender en el futuro un activo (denominado activo subyacente). En la operación se fijan las condiciones básicas de la operación, entre ellas fundamentalmente el precio. 
        </P>
        <P>
            Un inversor puede situarse en dos posiciones a la hora de contratar un futuro financiero. Se dice que abre un posición larga cuando compra futuros. Por otro lado, se dice que abre una posición corta cuando vende futuros. Los futuros se caracterizan en que tanto comprador como vendedor tienen obligaciones.
        </P>
        <div #target11><h2 class="titulo6">Bonos.</h2></div> 
        <P>
            Un bono es un instrumento de deuda que emite una empresa o administración pública para financiarse.
        </P>
        <P>
            El emisor de un bono promete devolver el dinero prestado al comprador de ese bono, normalmente más unos intereses fijados previamente, conocidos como cupón. Por eso se conoce como instrumento de renta fija.
        </P>
        <P>
            Los bonos son una de las principales fuentes de financiación de las grandes empresas y las Administraciones públicas, principalmente de los Gobiernos, que mediante la emisión de bonos materializan la deuda, entregando a sus prestamistas un activo financiero.
        </P>
        <P>
            Un bono es una parte alícuota de un préstamo. La organización emisora divide el total de la deuda que quiere colocar en pequeñas porciones, llamadas bonos, así cualquier persona le pueda prestar dinero, porque los préstamos son tan grandes que no se los puede conceder un solo agente, y por tanto, dividen «el contrato» del préstamo en muchos pequeños contratos o títulos (los bonos), para que la persona que posea el bono tenga un derecho a que le devuelvan el dinero que ha prestado más un interés. Los bonos pueden ser transferidos en el mercado secundario y por ello varía su precio de cotización. A los propietarios o prestamistas de los bonos se les llama «tenedores» o «bonistas».
        </P>
        <P>
            Al comprar un bono estamos haciendo un préstamo. El comprador entrega una cantidad de dinero, llamada capital del bono, a la empresa emisora del bono (empresa que recibe el préstamo). La empresa se compromete a devolvernos en una fecha de vencimiento, previamente establecida, la cantidad que le hemos prestado, más un tipo de interés también previamente establecido. Por eso los bonos se consideran activos de renta fija, ya que independientemente de como le vaya a la empresa nosotros vamos a recibir a final del periodo el interés fijo al cual se ha comprometido la empresa emisora. Aunque a veces tienen tipos de interés variables.
        </P>
        <P>
            Muchas veces se emiten a descuento, es decir, la empresa emisora se compromete a entregarte en la fecha de vencimiento del bono el 100% del capital nominal, que generalmente son 1000 euros. Y en la fecha de emisión, en la que nosotros entregamos el dinero para la compra del bono, no debemos prestarles el 100% si no un poco menos.
        </P>
        <div #target12><h2 class="titulo6">Fondos de inversión.</h2></div> 
        <P>
            Un fondo de inversión o fondo mutuo es un vehículo de inversión, que aglutina el dinero de varios inversores para invertirlo de forma conjunta. Es por eso que también se conocen como institución de inversión colectiva (IIC).
        </P>
        <P>
            Los fondos de inversión acumulan el dinero de muchos inversores para invertirlo en otros activos financieros, como acciones o bonos. El valor del fondo de inversión depende del valor de los activos que se contienen dentro del fondo. Por tanto, la evolución del fondo dependerá del rendimiento de los activos que contiene.
        </P>
        <P>
            Mediante la aportación de varios inversores a un fondo común, los fondos de inversión permiten a los pequeños inversores acceder a carteras de inversión gestionadas profesionalmente, además de diversificar su inversión.
        </P>
        <P>
            Cada inversor en el fondo, conocido como partícipe, aporta dinero mediante la compra de participaciones del fondo de inversión. Este dinero se acumula en un fondo común. El fondo de inversión es gestionado por una sociedad gestora. Con el dinero acumulado, el fondo compra activos financieros en el mercado de valores. Los activos que ha comprado se depositan en una entidad depositaria.
        </P>
        <P>
            Cada participación representa una pequeña proporción de toda la inversión de ese fondo común. Para calcular el valor de una participación se divide el valor de todos los activos del fondo de inversión entre el número de participaciones. A este precio se le conoce como valor liquidativo.
        </P>
        <P>
            Los fondos de inversión están destinados a cualquier tipo de inversor. Sin embargo, hay una muy amplia gama de fondos de inversión para distintos perfiles de inversores. No todos los fondos de inversión son adecuados para todos los inversores.
        </P>
        <P>
            Existen muchas agencias que intentan calificar cada uno de los fondos para ayudarnos a saber en qué fondo invertir. La empresa más famosa de análisis de fondos es Morningstar y sus estrellas se han convertido en un factor básico del análisis de fondos de inversión.
        </P>
        <div #target13><h2 class="titulo6">Plazos fijos.</h2></div> 
        <P>
            A plazo fijo es el compromiso de pago en una fecha determinada. Al igual que cuando está a la vista, se trata de una posibilidad existente a la hora de afrontar una posibilidad de pago en documentos, inversiones, pagarés o depósitos bancarios, especialmente.
        </P>
        <P>
            Una de las principales ventajas existentes en las operaciones económicas hechas a plazo fijo es que son, habitualmente, alternativas de inversión. Estas aseguran rendimientos conocidos previamente, desde el primer momento de afrontar la operación.
        </P>
        <P>
            En el campo de los depósitos bancarios, este tipo de mecanismo está perfectamente extendido. De esta forma, asegurando a los individuos inversores poder disponer de la cantidad de dinero depositada. Siempre en la fecha predefinida en el inicio de la operación.
        </P>
        <P>
            Por otro lado, esta seguridad se suma a la existencia de un tipo de interés que beneficia al inversor. Todo ello, a cambio de que un banco o caja pueda disponer hasta la fecha marcada de ese dinero. Siendo su fin el destinarlo a su actividad, así como comprometiéndose a su devolución con intereses en el plazo acordado. En este tipo de situaciones se hace entrega de certificados o títulos de depósito a plazo fijo, como prueba o justificante del compromiso entre ambas partes.
        </P>
        <P>
            En lo que respecta a los intereses, estos normalmente suelen entregarse en la fecha de vencimiento. No obstante, también es posible que vayan entregándose periódicamente durante la duración del contrato. Es decir, de forma fraccionada.
        </P>
        <P>
            Habitualmente, que una operación se realice bajo condición de plazo fijo supone que la libre disponibilidad del dinero se hace realidad solamente al vencimiento de la fecha prevista al inicio. Pues, es en este momento en el que puede retirarse o cobrarse la cantidad señalada. También, alternativamente, podría hacerse una renovación y plantear una nueva fecha de vencimiento. Otra operación habitual que puede desarrollarse a plazo fijo es la concesión de créditos por parte de entidades financieras.
        </P>
        <P>
            Realizar operaciones a plazo fijo, y no a la vista, puede tener ciertas ventajas o diferencias. Siempre teniendo en cuenta el uso que se le da a cada una de estas posibilidades.
        </P>
        <P>
            Habitualmente, operar a la vista es más común en actividades con gran periodicidad y si se quiere tener recursos económicos en el más corto plazo. Este es el caso de las cuentas de ahorro en un banco que permiten el manejo sistemático de dinero. En el caso contrario, a plazo fijo, se suele destinar ese dinero depositado con intención de llevar a cabo inversiones o desembolsos importantes en el futuro.
        </P>
        <div #target14><h2 class="titulo6">Liquidez.</h2></div> 
        <P>
            La liquidez se es la capacidad de un activo de convertirse en dinero en el corto plazo sin necesidad de reducir el precio.
        </P>
        <P>
            El grado de liquidez es la velocidad con que un activo se puede vender o intercambiar por otro activo. Cuanto más líquido es un activo más rápido lo podemos vender y menos arriesgamos a perder al venderlo. El dinero en efectivo es el activo más líquido de todos, ya que es fácilmente intercambiable por otros activos en cualquier momento.
        </P>
        <P>
            Cuando se dice que un mercado es líquido significa que en ese mercado se realizan muchas transacciones y por lo tanto será fácil intercambiar activos de ese mercado por dinero.
        </P>
        <P>
            Para una empresa o una persona, la liquidez es la capacidad para cumplir con sus obligaciones en el corto plazo. La forma más eficaz de calcular el ratio de liquidez de una empresa es dividir el activo corriente (recursos más líquidos de la empresa) entre el pasivo corriente (deudas a corto plazo de la empresa). Si el resultado es mayor que uno, significa que la entidad podrá hacer frente a sus deudas con la cantidad de dinero líquido que tienen en ese momento; si el resultado es menos de uno, significa que la entidad no tiene liquidez suficiente para hacer frente a esas deudas. El siguiente paso para una empresa es analizar su solvencia, que es la liquidez a largo plazo.
        </P>
        <P>
            Cuando hablamos de liquidez de mercado nos referimos a la capacidad de ese mercado de intercambiar dinero por sus activos. Los mercados de valores son mercados muy líquidos, cuánto más volumen de negociación hay sobre una acción más liquido es, ya que más fácil y rápidamente podremos venderla.
        </P>
        <P>
            La liquidez es una de las características de los activos financieros, junto con la rentabilidad y el riesgo, con los que mantiene una estrecha relación.
        </P>
        <P>
            Uno de los sectores más ilíquidos es el de los bienes inmuebles. Ya que vender una casa por ejemplo, lleva bastante tiempo y es más difícil encontrar un comprador. Si los precios siempre fueran estables, sería algo más líquido, ya que si quisiéramos vender nuestra casa, podríamos asegurar que podemos vender a ese precio casi seguro fácilmente.
        </P>
        <div #target15><h2 class="titulo6">Selección de portfolio.</h2></div> 
        <P>
            La selección de un portafolio de inversiones consiste en elegir una gama de inversiones dirigidas a alcanzar tus metas y objetivos con un nivel de riesgo de inversión con el que te sientas cómodo.
        </P>
        <P>
            Primero tendrás que elegir el tipo de cuenta que deseas abrir, ya que eso influirá en cómo construyes tu cartera de inversiones.
        </P>
        <P>
            En primer lugar, es importante determinar cuánto riesgo estás dispuesto a asumir. ¿Cuánto de tu cartera de inversiones te sentirías cómodo perdiendo en el corto plazo para cumplir con tus objetivos a largo plazo?        
        </P>
        <P>
            Una vez que hayas decidido tu actitud ante el riesgo, debes determinar exactamente cuáles son tus objetivos y metas. ¿Qué estás tratando de lograr haciendo estas inversiones?

        </P>
        <P>
            Cualesquiera que sean tus objetivos, es muy importante que los definas desde el principio y que revises el rendimiento de tu cartera de inversiones para que puedas ajustarlo si es necesario.
        </P>
        <P>
            Una vez que hayas decidido tus objetivos y metas de inversión, debes decidir qué combinación de clases de activos te ayudará a alcanzarlos en un nivel de riesgo con el que te sientas cómodo.
        </P>
        <P>
            La asignación de activos es una estrategia de portafolios que involucra la definición de las proporciones de capital que se asignará a los diferentes tipos de activos y el rebalanceo periódico de dichas proporciones para mantenerlas.

        </P>
        <P>
            Esta estrategia se enfoca en las necesidades del inversionista en vez de seguir constantemente los mercados, busca eliminar la influencia de las emociones en las decisiones de inversión. 
        </P>
        <P>
            La asignación de tu dinero en una variedad de activos te brinda beneficios de diversificación que incluyen la reducción del riesgo.
        </P>
        <P>
            Una vez que hayas decidido tu asignación de activos y las inversiones específicas que vas a utilizar, puedes comenzar a invertir.
        </P>
        <P>
            Recuerda que antes de decidirte por cualquier activo o instrumento específico, debes tomar en cuenta ciertos aspectos básicos por ejemplo, el nivel de riesgo que estás dispuesto a correr y los objetivos que buscas alcanzar con tu inversión.
        </P>
        <div #target16><h2 class="titulo6">Capitalización.</h2></div> 
        <P>
            La capitalización es el proceso de proyectar un capital inicial a un periodo de tiempo posterior, con base en un tipo de interés.
        </P>
        <P>
            La capitalización (simple o compuesta) es el proceso por el cual una determinada cantidad de capital aumenta de valor. A decir verdad, es una expresión matemática de un fenómeno real. Por ejemplo, nos dan un 2% de ingresos sobre nuestro capital inicial anualmente durante 3 años. Al final de los tres años tendremos un 6%.
        </P>
        <P>
            De lo anterior, podemos ver que es una expresión que calcula la evolución de dicho capital. Lo contrario de capitalizar es actualizar o descontar. Es decir, lo contrario de la capitalización es el descuento o actualización.
        </P>
        <P>
            El proceso de capitalizar lleva consigo implícitamente un tipo de interés. De manera que el capital proyectado a futuro depende con qué tipo de interés proyectemos el capital inicial. Por lo tanto, el capital final, es función del inicial y del tipo de interés.
        </P>
        <P>
            El valor de nuestra inversión inicial después de los cinco años depende del capital inicial y de esos intereses generados. También dependerá del tipo de capitalización que se aplique en la operación. Ya que esto condicionará como se aplican los tipos de interés al capital inicial. Y, por lo tanto, el valor final variará en función de esto.
        </P>
        <div #target17><h2 class="titulo6">Vida de una empresa.</h2></div> 
        <P>
            El ciclo de vida de una empresa es el proceso de etapas por el cual pasa a lo largo de su vida. Todas las compañías (y proyectos) tienen un inicio, un desarrollo y un resultado, que dependen principalmente de las decisiones que se hayan tomado al principio. Si se consigue un resultado favorable, las empresas pueden llegar a alcanzar una madurez y un crecimiento sostenible.
        </P>
        <P>
            Este ciclo de vida se observa muy claramente en las startups, que introducen novedades con una gran base tecnológica en los mercados. En ellas puede relacionarse fácilmente las etapas del ciclo de vida con las necesidades de inversión, los tipos de inversores y las rondas solicitadas.
        </P>
    </div>
    <div class="cuerpoindice">
        <div class="indice">
            <span class="font-normal text-4xl">INDICE</span>
        </div>
        <div>
            <button (click)="scroll(target)" class="iale"><span class="font-normal text-2xl">Introducción.</span></button>
        </div>
        <div>
            <button (click)="scroll(target2)" class="iale"><span class="font-normal text-2xl">Mercados mundiales. Funcionamiento.</span></button>
        </div>
        <div>
            <button (click)="scroll(target3)" class="iale"><span class="font-normal text-2xl">Trader, broker y market maker.</span></button>
        </div>
        <div>
            <button (click)="scroll(target4)" class="iale"><span class="font-normal text-2xl">Opciones de compra y venta.</span></button>
        </div>
        <div>
            <button (click)="scroll(target5)" class="iale"><span class="font-normal text-2xl">Acciones.</span></button>
        </div>
        <div>
            <button (click)="scroll(target6)" class="iale"><span class="font-normal text-2xl">La venta corta.</span></button>
        </div>
        <div>
            <button (click)="scroll(target7)" class="iale"><span class="font-normal text-2xl">Apalancamiento.</span></button>
        </div>
        <div>
            <button (click)="scroll(target8)" class="iale"><span class="font-normal text-2xl">Arbitraje.</span></button>
        </div>
        <div>
            <button (click)="scroll(target9)" class="iale"><span class="font-normal text-2xl">Órdenes.</span></button>
        </div>
        <div>
            <button (click)="scroll(target10)" class="iale"><span class="font-normal text-2xl">Futuros.</span></button>
        </div>
        <div>
            <button (click)="scroll(target11)" class="iale"><span class="font-normal text-2xl">Bonos.</span></button>
        </div>
        <div>
            <button (click)="scroll(target12)" class="iale"><span class="font-normal text-2xl">Fondos de inversión.</span></button>
        </div>
        <div>
            <button (click)="scroll(target13)" class="iale"><span class="font-normal text-2xl">Plazos fijos.</span></button>
        </div>
        <div>
            <button (click)="scroll(target14)" class="iale"><span class="font-normal text-2xl">Liquidez.</span></button>
        </div>
        <div>
            <button (click)="scroll(target15)" class="iale"><span class="font-normal text-2xl">Selección de portfolio.</span></button>
        </div>
        <div>
            <button (click)="scroll(target16)" class="iale"><span class="font-normal text-2xl">Capitalización.</span></button>
        </div>
        <div>
            <button (click)="scroll(target17)" class="iale"><span class="font-normal text-2xl">Vida de una empresa</span></button>
        </div>

    </div>
</div>
</div>

