.container-body{
    background-color: #f7f9f9; 
    background-size: 100%;  
    background-size: cover;
    min-height: 100vh;
}

form{
    mat-form-field{
        margin-left: 5%;
        margin-right: 5%;
    }
}

.container-trading-insta{
    width: 70%;
    height: 55vh;
    border: 1px solid black;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
}

.container-trading-limit{
    width: 70%;
    height: 70vh;
    border: 1px solid black;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
}

.container-trading-stop{
    width: 70%;
    height: 88vh;
    border: 1px solid black;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
}

span{
    margin-top: 1vh;
}

.mat-divider{
    margin: 2vh;
}

.button-buy{
    margin-bottom: 2vh;
    color: green;
}

.button-sell{
    color: red;
}

.container-hint{
    width: 100%;
    height: 35vh;
    border: 1px solid black;
    padding: 2%;
    border-radius: 2%;
    margin-top: 2%;
    background-color: #cccc00;

    p{
        color: #f7f9f9;
    }
}

.container-table{
    height: 25vh;
    overflow-y: scroll;
}

.error{
    color: red;
    margin-top: 1vh;
}

.success{
    color: green;
    margin-top: 1vh;
}

select {
    background: transparent;
    border: none;
}

select:focus{ outline: none;}

.title{
    margin-top: 1%;
}
 
.table{
    width: 100%;
}

.compra{
    color: green;
}

.venta{
    color: red;
}

.delete-button{
    transform: scale(0.8);
}

.chart-box {
    max-width: 100%;
    margin-top: 10%;
}
