.container-body{
    background-color: #f7f9f9; 
    background-size: 100%;  
    background-size: cover;
    min-height: 100vh;
}

form{
    mat-form-field{
        margin-left: 5%;
        margin-right: 5%;
    }
}

.container-trading{
    width: 70%;
    height: 50vh;
    border: 1px solid black;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
}

span{
    margin-top: 1vh;
}

.mat-divider{
    margin: 1vh;
}

.button-buy{
    margin-bottom: 2vh;
    color: green;
}

.button-sell{
    color: red;
}

.container-hint{
    width: 100%;
    height: 35vh;
    border: 1px solid black;
    padding: 2%;
    border-radius: 2%;
    margin-top: 2%;
    background-color: #cccc00;

    p{
        color: #f7f9f9;
    }
}