<app-menu></app-menu>

<div class="fondo">
<div class="container-card mx-auto">
    <div class="grid grid-cols-3">
        <div align="center">
            <mat-card>
                <img mat-card-image src="../../../assets/agus.jpeg">
                <p><span class="font-extrabold text-xl" > Agustín L. Córdoba</span></p>
                <p><span class="font-extrabold text-normal" > PM - FullStack Dev.</span></p>
                <a href="https://ar.linkedin.com/in/aguscdb" target="_blank" ><button mat-flat-button color="primary">LinkedIn</button></a>
            </mat-card>              
        </div>
        <div align="center">
            <mat-card>
                <img mat-card-image src="../../../assets/lucas.jpeg">
                <p><span class="font-extrabold text-xl" > Lucas D. Randisi</span></p>
                <p><span class="font-extrabold text-normal"> Infraestructura - FullStack Dev.</span></p>
                <a href="https://ar.linkedin.com/in/lucas-randisi-4635081a1" target="_blank" ><button mat-flat-button color="primary">LinkedIn</button></a>
            </mat-card> 
        </div>
        <div align="center">
            <mat-card>
                <img mat-card-image src="../../../assets/augusto.jpg">
                <p><span class="font-extrabold text-xl"> Augusto A. López</span></p>
                <p><span class="font-extrabold text-normal" > Analista - Frontend Dev.</span></p>
                <a href="https://www.linkedin.com/in/augusto-l%C3%B3pez-a1b25424b/" target="_blank" ><button mat-flat-button color="primary">LinkedIn</button></a>
            </mat-card> 
        </div>
    </div>


</div>
</div>
