<app-menu></app-menu>

<div class="fondo">
<div class="container-card mx-auto">
    <div class="grid grid-cols-3">
        <div align="center">
            <mat-card>
                <img mat-card-image src="../../../assets/agus.jpeg">
                <p><span class="font-extrabold text-xl" style="color: #cccc00"> Agustín L. Córdoba</span></p>
                <p><span class="font-extrabold text-normal" style="color: #cccc00"> PM - FrontEnd Dev.</span></p>
                <!-- ver de reemplazar por ícono-->
                <button mat-flat-button color="primary"><a href="https://ar.linkedin.com/in/aguscdb">LinkedIn</a></button>
            </mat-card>              
        </div>
        <div align="center">
            <mat-card>
                <img mat-card-image src="../../../assets/lucas.jpeg">
                <p><span class="font-extrabold text-xl" style="color: #cccc00"> Lucas D. Randisi</span></p>
                <p><span class="font-extrabold text-normal" style="color: #cccc00"> FullStack Dev.</span></p>
                <!-- ver de reemplazar por ícono-->
                <button mat-flat-button color="primary"><a href="https://ar.linkedin.com/in/lucas-randisi-4635081a1">LinkedIn</a></button>
            </mat-card> 
        </div>
        <div align="center">
            <mat-card>
                <img mat-card-image src="../../../assets/augusto.jpg">
                <p><span class="font-extrabold text-xl" style="color: #cccc00"> Augusto A. López</span></p>
                <p><span class="font-extrabold text-normal" style="color: #cccc00"> Analista</span></p>
                <!-- ver de reemplazar por ícono-->
                <button mat-flat-button color="primary"><a href="">LinkedIn</a></button>
            </mat-card> 
        </div>
    </div>


</div>
</div>
