.page {
    display: flex;
    flex-direction: column;
     
    nav{
        background-color: #0d0e1c;
        height: 80px;

        .logo{
            height: 40px;
            width: 50px;
            margin-right: 10px;
            margin-left: 30px;
        }

        .button{
            background-color: #cccc00;
            color: black;
            border: 1px solid #212245;
            height: 40px;
        }

        .button-logout{
            background-color: grey;
            border: 1px solid #212245;
            color: black;
            margin: 10px;
            height: 40px;
        }

        .a-navbar{
            color: #cccc00;
            margin-left: 2%;
        }

        .button-info{
            background-color: #f7f9f9;
            color: black;
            border: 1px solid #212245;
            margin: 10px;
            height: 40px;
        } 
    }
    
    .body{
        background-image: url(/../../../../../../../../assets/trama_cursos2.png); 
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
        padding: 0;
    }
}

a{
    cursor: pointer;
}