<app-menu></app-menu>

<div class="fondo"> 
        
    <div class="ABC">
        <span class="font-normal text-6xl">ABC</span>
    </div>     
 
  
    <div class="ECONOMIA">
        <span class="font-normal text-6xl">ECONOMÍA</span>
    </div>
  
<div class="grid grid-cols-2">
    <div class="texto">
        <div #target><h2 class="titulo1">Introducción a la economía</h2></div>
        <p>
        La economía es el estudio de la manera en que los hombres y la sociedad utilizan – haciendo uso o no de dinero- unos 
        recursos productivos “escasos” para obtener bienes y distribuirlos para su consumo presente o futuro entre las diferentes 
        personas y grupos que componen la Sociedad (Paul Samuelson).
        </p>
        <p>
        Otra definición de economía (Stanley Fischer – Rudiger Dornbusch): la economía es el estudio de la forma en que la 
        sociedad decide qué se va a producir, cómo y para quién. La definición pone de relieve el papel de la sociedad y sitúa 
        la economía entre las ciencias sociales, es decir, las ciencias que estudian y explican la conducta humana. El objeto de 
        la economía es el estudio de la conducta humana relacionada con la producción, el intercambio y el uso de los bienes y servicios.
        </p>
        <p>
        Muchos de los problemas de la economía surgen al considerar la forma en que deben utilizarse los recursos para 
        satisfacer necesidades humanas.
        </p>

        <div #target2><h2 class="titulo2">Recursos productivos</h2></div>
        <p>
        Una de las clasificaciones más comunes de los recursos productivos es la que los agrupa en: Tierra, Capital, Trabajo y 
        Capacidad Empresarial.
        </p>
        <p>
        Por lo tanto, son recursos productivos las capacidades humanas, los animales y objetos materiales, así como la tierra 
        con su fauna, flora, agua y otras sustancias. Ellos tienen la característica de ser escasos en relación con la demanda y
        , también, que se emplean a menudo conjuntamente para producir bienes y servicios. Así, la tierra, el pasto, la vaca, 
        el tambero y su equipo, conjuntamente producen la leche. Todos los recursos son escasos en el sentido de que no son 
        suficientes para producir todos los bienes y servicios necesarios para satisfacer cada una de las necesidades humanas.
         Los límites de los recursos vienen señalados por la naturaleza y el conocimiento. 
        </p>
        <p>
        En otras palabras, los recursos de una sociedad no son únicamente los frutos libres de la naturaleza tales como la tierra,
         los bosques y los minerales, sino también los recursos humanos, tanto mentales como físicos, y toda clase de aportes hechos
          por los hombres para perfeccionar la producción, como máquinas o construcciones. 
        </p>
            <div #target3><h2 class="titulo3">Clasificación de los recursos</h2></div>  
        <p>
        Los recursos se pueden agrupar: 
        </p>
        <ul>
        <li>1- Los frutos libres de la naturaleza: tierra, bosques, minerales, etc. (llamados corrientemente Recursos Naturales, y conocidos en economía como Tierra). </li>
        <li>2- Todos los recursos humanos, mentales y físicos, tanto naturales como adquiridos llamados en economía Trabajo. </li>

        <li>3- Todas las aportaciones proporcionadas por los hombres para acelerar la producción, tales como instrumentos, máquinas, plantas y equipos -incluyendo los bienes hechos por el hombre que no son para su inmediato consumo, sino para utilizarlos en el proceso de otros bienes- son llamados en economía Capital.</li>
        </ul>
        <p>
        A estos tres recursos se los llama factores de producción. A veces se incluye un cuarto factor: el Empresario; él mismo
         valora la disposición y capacidad de ciertos individuos a aceptar los riesgos de nuevos métodos de producción y llevarlos
          a buen puerto. Son necesarios para la sociedad porque son los encargados de producir más y mejores bienes y servicios 
          para la satisfacción de las necesidades de los consumidores. Para ello, 8 deben llevar las invenciones al estadio de 
          innovación, es decir transformar los inventos en mejoras en los procesos y en los productos. Las cosas producidas por 
          los factores de producción son los llamados bienes y servicios. 
        </p>
        <p>
        Los primeros son cosas tangibles, tales como zapatos o coches; los segundos son intangibles, como un corte de pelo o un 
        curso de idioma.
        </p>
        <p>
        Prácticamente, en ninguna sociedad se consideran los bienes y servicios como deseables por sí mismos; no están disponibles
         para ser almacenados en las casas para que nunca se consuman. Generalmente, el fin u objetivo que se persigue es que el 
         individuo satisfaga, al menos, alguna de sus necesidades. Así pues, los bienes y los servicios sólo pueden considerarse 
         como medios a través de los cuales se conseguirá el objetivo de la satisfacción del consumidor. 
        </p>
        <p>
        La actividad encaminada a conseguir bienes y servicios es llamada por los economistas producción y el uso que se hace de 
        estos bienes y servicios para satisfacer sus necesidades constituye el consumo.
        </p>
            <div #target4><h2 class="titulo4">Escasez</h2> </div>        
        <p>
        Las necesidades humanas, que se satisfacen consumiendo bienes y servicios, pueden ser consideradas ilimitadas. Esto 
        es así, porque una vez satisfechas las necesidades básicas - alimentación, vivienda, salud, seguridad, etc.- surgen 
        otro tipo de necesidades como las psicológicas y de autorrealización.
        </p>
        <p>
        La oferta existente de recursos es inadecuada en relación con los deseos conocidos de los individuos de mejorar sus 
        niveles de alimentación, vestido, vivienda, etc.; es suficiente para producir sólo una pequeña parte de los bienes 
        y servicios que los individuos desean. Esto origina uno de los problemas básicos de la economía: la escasez. 
        </p>
        <p>
        La economía es el estudio de la forma en que la sociedad decide que se va a producir, cómo y para quién. Es una 
        ciencia social porque estudia y explica la conducta humana relacionada con la producción, el intercambio y el uso 
        de los bienes y servicios. El problema económico central consiste en conciliar el conflicto entre las necesidades 
        y deseos ilimitados de los individuos por bienes y servicios, con la escasez de los recursos (tierra, trabajo y máquinas)
         necesarios para producirlos. 
        </p>    
            <div #target5><h2 class="titulo5">Actores económicos y escenarios</h2></div>     
        <p>
        Iniciemos entonces con los actores. Tradicionalmente se aceptan dos actores
        principales. El primero de ellos es el individuo, cualquiera de ellos. Sí, inclusive
        nosotros mismos. La prosa económica presentaba en realidad a la familia con el
        mote de economía doméstica, haciendo una clara aseveración de que la célula
        social era a la vez la célula del sistema económico. De ningún modo contradigo lo
        anterior, sino que por simplicidad, esperando que cada lector se sienta parte del
        problema, prefiero considerar al individuo contemplándose como máximo asociado
        a su pareja, hijos o padres, o sea, en una persona a todos aquellos que conviven y
        actúan en sus elecciones de consumo o inversión de manera consensuada.
        </p>
        <p>
        Una de las razones de preferir esta visión es un profundo cambio en las actitudes
        sociales. La familia ya no es el tradicional matrimonio con hijos. Los cambios
        presentan hoy a personas -familiares o no- que se complementan para un mejor
        desempeño ante las variables económicas que les tocan padecer: hijos adultos
        que conviven con sus padres ancianos, ancianos que comparten sus gastos,
        jóvenes que se independizan y operan económicamente en forma aislada, familias
        que “adoptan” a otras personas, e inclusive personas que no conviven y muchas
        veces no se conocen pero poseen algún interés económico común (por ejemplo,
        poseer acciones de una misma compañía).
        </p>
        <p>

        Por lo tanto cuando hagamos referencia a individuos, lo hacemos respecto de
        estas nuevas células económicas, menos ortodoxas y mejor predispuestas a un
        contexto con una complejidad distinta que el de otros anteriores.
        </p>
        <p>
        En definitiva, tres son los elementos con que contribuye un individuo para
        satisfacer sus necesidades: el tiempo dedicado a conseguir recursos para sí, las
        herramientas o elementos que posee para generar recursos y pequeñísimos trozos
        de corteza terrestre que considera exclusivo y que los demás reconocen como
        suyo. A estos tres elementos la ciencia económica los ha denominado factores de
        producción.
        </p>
        <p>
        Tanto un individuo que ofrece su tiempo para tareas productivas en una gran
        fábrica a cambio de un salario, o un repartidor que lo hace a cambio de comisiones
        (honorario proporcional), o un médico que dedica tiempo en atender a pacientes; todos ellos, aunque los ejemplos no gusten, poseen y ofrecen tiempo dedicado a la actividad
        productiva (de un bien o servicio), lo que la economía reduce en el término de
        trabajo.
        </p>
        <p>
        La cesión a cambio de dinero de estos factores de capital se ha transformado en
        una importante fuente de ingresos para algunos individuos o grupos de ellos y al
        mismo tiempo permite que algunos emprendimientos puedan realizarse sin contar
        con los elementos de capital necesarios.
        </p>
        <p>
        Finalmente respecto al factor tierra -que comprensiblemente no ha cambiado
        mucho desde la antigüedad- es dable aclarar que la concepción geográfica del término tierra merece ser actualizada, especialmente por los grandes cambios
        introducidos por el hombre en sus explotaciones económicas.
        </p>
        <p>
        Con seguridad, a los estudiantes del siglo XVIII, posiblemente pocos, no se les
        hubiera ocurrido la explotación del aire para vuelos comerciales, o para las
        transferencias de ondas de comunicación, o la utilización de máquinas de última
        generación para estudiar la meteorología. Tampoco el surcar de los mares de
        grandes buques factorías, la existencia de cableado para comunicaciones
        telefónicas o la extracción de petróleo desde las profundidades mismas del mar.
        Por lo dicho anteriormente, debiéramos decir entonces que el factor tierra merece
        ser denominado factor biósfera, como lo rebautizaron ya algunos autores.
        También un factor novedoso que llamaremos factor de recursos humanos, ya que
        contempla no solo el tiempo sino además toda la experiencia e individualidad que
        el hombre ofrece y que hoy reemplaza ampliamente al viejo concepto de trabajo.
        Actualmente es ralo el estrato productivo en que los individuos simplemente trotan
        su tiempo dedicado a la producción por dinero o bienes.
        </p>
        <p>
        Del mismo modo y como describe magistralmente Friedman, es razonable pensar que quienes adquieren la capacidad de producción mediante la combinación de factores propios o de terceros, a saber empresarios, obtienen un plus en la explotación consistente en herramientas científicas y de gestión que al finalizar el emprendimiento seguirán poseyendo y aplicarán a uno nuevo. Estamos entonces ante un nuevo factor que en este caso no está presente en cualquier individuo y que denominaremos factor de capacidad empresarial (lo
        que alguna bibliografía moderna denominaría know-how).
        </p>
        <p>
        Pero hasta aquí solo hemos analizado lo que los individuos tienen para ofrecer y a
        a cambio de lo cual reciben una renta determinada. La pregunta es: ¿Qué hacen con
        esa renta obtenida? Pues lo mismo que hacemos usted y yo, adquirir los enseres
        necesarios para nuestra subsistencia y, de quedarnos luego algo de renta
        remanente, darnos algunos lujos según sea el monto; si es mínimo nos daremos el
        gusto de salir a cenar afuera una vez por mes o nos comprometeremos en un
        negocio del barrio a pagar mensualidades por un electrodoméstico. Si por el
        contrario es elevado contrataremos un servicio vacacional en Europa.
        </p>
        <p>
        La manera en que cada individuo gasta su renta o ahorra parte de ella para
        gastarla luego (cuando la ocasión le sea más beneficiosa) es lo que la ciencia
        economía estudia como consumo, ahorro e inversión.

        </p>
            <div #target6><h2 class="titulo6">Comportamiento económico individual</h2></div> 
        <p>
        Interesa, una vez realizada la introducción, comprender las nociones
        básicas sobre los aspectos relevantes del comportamiento del individuo desde el
        punto de vista económico.
        </p>   
        <p>
        Dado que los recursos son escasos, la ciencia económica parte de la premisa de
        que el individuo tiende a elegir los bienes y servicios que más valora y que están
        dentro de sus posibilidades. De esta manera busca obtener la mayor satisfacción
        posible. Satisfacción en el idioma económico se denomina utilidad.
        </p>
        <p>
        Existen dos conceptos de utilidad: el cardinal, que procura darle un valor numérico
        a cada bien según la satisfacción que genera y que en general no es el concepto
        preferido por los economistas (aunque es útil para explicar el concepto general); y
        el ordinal, que privilegia el orden en que un individuo seleccionará determinados
        bienes o servicios.
        </p>
        <p>
        Imaginemos ahora que usted tiene sed y va al kiosco cercano y compra
        una botella de agua mineral (vamos a suponer que puede pagar todas las
        botellas que desee tomar). Si tiene mucha sed esa primera botella bebida le dará
        satisfacción; pero no será suficiente, por lo que comprará y beberá otra que
        calmará más su sed aunque el nivel de satisfacción no llegue a ser como en la
        primera. Si aún continúa con algo de sed comprará y beberá una tercera botella y
        suponiendo que la tome en su totalidad, al final estará más que satisfecho y por un
        largo rato no se le ocurrirá beber agua.
        </p>
        <p>
        Observaremos que a medida que tomamos una nueva unidad de agua, consumimos más líquido pero disminuye la satisfacción. O sea que la utilidad total , que surge de sumar las satisfacciones de cada ingesta, aumenta, pero la satisfacción o utilidad de consumir una unidad más, que se conoce como utilidad marginal en este caso de agua, disminuye.
        Lo anterior nos lleva a enunciar una Ley fundamental de la economía: que la utilidad marginal es (UMg) decreciente.
        </p>
        <p>
        Ahora bien, si sometemos el análisis anterior de la UMg a la contrastación del precio que tiene una botella de agua mineral, resultará que en la primera unidad consumida la satisfacción estaba por encima del precio y no así en las restantes.
        A esa satisfacción sobrante respecto al precio se lo denomina excedente del consumidor e implica que recibimos más de lo que pagamos. Esto deriva de la denominada paradoja del valor.
        </p>
    </div>
    <div class="cuerpoindice">
        <div class="indice">
            <span class="font-normal text-4xl">INDICE</span>
        </div>
        <div>
            <button (click)="scroll(target)" class="iale"><span class="font-normal text-2xl">Introducción a la economía</span></button>
        </div>
        <div>
            <button (click)="scroll(target2)" class="iale"><span class="font-normal text-2xl">Recursos productivos</span></button>
        </div>
        <div>
            <button (click)="scroll(target3)" class="iale"><span class="font-normal text-2xl">Clasificación de recursos</span></button>
        </div>
        <div>
            <button (click)="scroll(target4)" class="iale"><span class="font-normal text-2xl">Escasez</span></button>
        </div>
        <div>
            <button (click)="scroll(target5)" class="iale"><span class="font-normal text-2xl">Actores económicos y escenarios</span></button>
        </div>
        <div>
            <button (click)="scroll(target6)" class="iale"><span class="font-normal text-2xl">Comportamiento económico individual</span></button>
        </div>
    </div>
</div>
</div>

