<div class="page">
	<nav class="flex items-center justify-between flex-wrap">
		<div class="flex items-center">
			<img class="logo" src="../../../assets/sw_logo.png">
		</div>

		<div class="text-sm lg:flex-grow">
			<a [routerLink] = "['']" class="a-navbar text-bold text-xl">
				Dashboard
			</a>
			<a [routerLink] = "['bolsa']" class="a-navbar text-bold text-xl">
				Bolsa de Valores
			</a>
			<a [routerLink] = "['trading']" class="a-navbar ext-bold text-xl">
				Trading
			</a>
			<a [routerLink] = "['']" class="a-navbar ext-bold text-xl">
				Academia
			</a>
		</div>

		<div>
			<button mat-raised-button class="button-info"><a [routerLink] = "['info']">Acerca de SW</a></button>
			<button mat-raised-button class="button"><a [routerLink] = "['account']">Cuenta</a></button>
		</div>
	</nav>

	<div class="body">
		<router-outlet></router-outlet>
	</div>
</div>