.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    nav{
        background-color: #0d0e1c;
        height: 10vh;

       .logo{
            height: 4vh;
            width: 5vh;
            margin-right: 2vh;
            margin-left: 3vh;
            margin-bottom: 0.5vh;
        }

        .button{
            background-color: #cccc00;
            color: black;
            border: 1px solid #212245;
            margin: 1vh;
        }

        .a-navbar{
            color: #cccc00;
            margin-left: 2%;
        }

        .button-info{
            background-color: #f7f9f9;
            color: black;
            border: 1px solid #212245;
            margin: 1vh;
        } 
    }
    
    
    .body{
        background-image: url(../../../assets/bg_space.jpg); 
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}






