<div class="page">
	<nav class="flex items-center justify-between flex-wrap">
		<div class="flex items-center">
			<img class="logo" src="../../../assets/sw_logo.png">
		</div>

		<div class="text-sm lg:flex-grow">
			<a [routerLink] = "['']" class="a-navbar text-xl">
				Dashboard
			</a>
			<a [routerLink] = "['bolsa']" class="a-navbar text-xl">
				Bolsa de Valores
			</a>
			<a [routerLink] = "['trading']" class="a-navbar text-xl">
				Trading
			</a>
			<button mat-button [matMenuTriggerFor]="menu" class="a-navbar text-xl" style="font-weight: 400;">
				  Academia
				  <mat-icon>keyboard_arrow_down</mat-icon>
			</button>
			  
			  <mat-menu #menu="matMenu">
				<button mat-menu-item>
				  <a [routerLink] = "['abceconomia']">
					ABC ECONOMÍA
				  </a>
				</button>
				<button mat-menu-item>
					<a [routerLink] = "['mercados']">
						MERCADOS
					</a>
				</button>
				<button mat-menu-item>
					<a [routerLink] = "['vareco']">
						VARIABLES MACROECONOMICAS
					</a>
				</button>
				<button mat-menu-item>
					<a [routerLink] = "['finanzas']">
						FINANZAS
					</a> 
				</button>
				<button mat-menu-item>
					<a [routerLink] = "['anatecnico']">
						ANÁLISIS TÉCNICO
					</a>
				</button>
				<button mat-menu-item>
					<a [routerLink] = "['criptos']">
						CRIPTOMONEDAS
					</a>
				</button>
				<button mat-menu-item>
					<a [routerLink] = "['hiseconomi']">
						HISTORIA ECONÓMICA
					</a>
				</button>
			  </mat-menu>
		</div>

		<div>
			<button mat-raised-button class="button-info"><a [routerLink] = "['info']">Acerca de SW</a></button>
			<button mat-raised-button class="button"><a [routerLink] = "['account']">Cuenta</a></button>
		</div>
	</nav>

	<div class="body">
		<router-outlet></router-outlet>
	</div>
</div>