<app-menu></app-menu>

<div class="fondo">
    <mat-card>
        <mat-card-title>Cambiar contraseña</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field>
                <mat-label>Contraseña anterior</mat-label>
                <input matInput required formControlName="old_password" [type]="hideOldPassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hideOldPassword = !hideOldPassword">
                    <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Nueva contraseña</mat-label>
                <input matInput required formControlName="new_password" [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                    <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Confirmar nueva contraseña</mat-label>
                <input matInput required formControlName="new_password_confirmation" [type]="hideConfirmPassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                    <mat-icon alt="icono-password">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <button mat-raised-button class="bg-primary submit" type="submit">Guardar</button>
            <button mat-stroked-button routerLink="/cuenta" type="button">Editar datos personales</button>
        </form>
    </mat-card>
</div>

