.fondo{
    background-image: url(../../../assets/trama_cursos2.png); 
    background-size: 100%;  
    background-size: cover;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-card {
    padding: 4vh 2vw;
    max-width: 30vw;

    form {
        margin-top: 2vh;

        mat-form-field {
            width: 100%;
        }

        .submit {
            margin-top: 2vh;
            margin-right: 2vw;
        }
    }
}
