<div class="fondo"> 
        
    <div class="ABC">
        <span class="font-normal text-6xl">CRIPTO</span>
    </div>     
 
  
    <div class="ECONOMIA">
        <span class="font-normal text-6xl">MONEDAS</span>
    </div>
  
<div class="grid grid-cols-2">
    <div class="texto">
        <div #target><h2 class="titulo1">Introducción</h2></div>
        <p>
            La criptomoneda o criptodivisa es un tipo de moneda digital que utiliza la criptografía para proporcionar un sistema de pagos seguro. Estas técnicas de cifrado sirven para regular la generación de unidades monetarias y verificar la transferencia de fondos. No necesitan de un banco central u otra institución que las controle.
            Las criptomonedas son un tipo de moneda digital, que son aquellas que no existen de forma física, pero que sirven como moneda de intercambio, permitiendo transacciones instantáneas a través de Internet y sin importar las fronteras. Otros tipos de moneda digital son las monedas virtuales (normalmente controlada por los desarrolladores), dinero electrónico y cupones de Internet.
        </p>
        <p>
            En el año 2009 apareció la primera criptomoneda completamente descentralizada, el Bitcoin, que fue creado por Satoshi Nakamoto junto con el software que lo sustenta (blockchain). A día de hoy no se sabe quién está detrás del nombre del creador. La aparición del bitcoin fue tan innovadora que los términos de criptomoneda y Bitcoin se funden en uno solo y es indistinto hablar de uno u otro.
        </p>
        <p>
            En nuestros días, han aparecido más criptomonedas basadas en la pionera Bitcoin, que se conocen como altcoins.
        </p>

        <div #target2><h2 class="titulo2">Exchanges y billeteras virtuales</h2></div>
        <p>
            Una exchange de criptomonedas es el portal o la plataforma en la que los inversores realizan intercambios con estas a cambio de dinero fiat u otras criptomonedas. Estas exchanges, con base en la oferta y la demanda, fijan el precio de las distintas criptomonedas.
        </p>
        <p>
            Por tanto, estamos hablando de aquel mercado en el que se produce una compraventa de criptomonedas y el dinero que conocemos (fíat). Por otro lado, suelen estar centralizadas, o no, y automatizadas, para facilitar la compra y la venta.
        </p>
        <p>
            La billetera digital es un software que permite almacenar dinero electrónico para realizar operaciones de comercio en línea o e-commerce.
        </p>
        <p>
            También son llamadas e-wallets, billeteras electrónicas y monedero digital. Estas billeteras funcionan como sustituto de las tarjetas de crédito y débito. En otros casos, es una versión digital de estas dado que se almacenan los datos en las aplicaciones.
        </p>
        <p>
            Para tener acceso a su servicio son variados los requisitos que se solicitan, principalmente, para comprobar la identidad del individuo.
        </p>
        <p>
            Entre los requisitos están: correo electrónico, tarjeta de identificación local o pasaporte, comprobante de dirección, fotografía, entre otros.
        </p>
            <div #target3><h2 class="titulo3">Blockchain</h2></div>  
        <p>
            La cadena de bloques o blockchain, es un registro público donde se comparten todas las transacciones jamás realizadas sobre algo en concreto, impidiendo de esta manera que se produzcan falsificaciones.

        </p>
        <P>
            Las operaciones se registran en los ordenadores de todos los que participan en la cadena, incluyendo datos como cantidad, fecha, operación y participantes. Una vez compartidas y registradas en línea, no se pueden borrar. Conteniendo así, un registro fiel y verificable de todas las transacciones que se han hecho en la historia, sobre esa materia, que además están registradas con claves criptográficas.
        </P>
        <P>
            Para poder falsificar una transacción, no sería suficiente cambiar uno o varios ordenadores. Al ser un registro público pueden existir millones de copias y tendrían que cambiarse los registros de todos los ordenadores que guardan una copia, cosa completamente inviable, al ser una base abierta y pública.
        </P>
        <P>
            Es por ello, que la cadena de bloques o blockchain se ha convertido en una pieza fundamental para las monedas virtuales, como por ejemplo el Bitcoin.
        </P>
        <P>
            No obstante, el Blockchain permite guardar cualquier tipo de documento, como veremos más abajo. Gracias al concepto de consenso distribuido se lleva a cabo un registro inalterable de los sucesos pasados. Su función es similar a la del libro mayor de contabilidad, pero en el caso de la cadena de bloques se encarga de registrar acontecimientos digitales y que puede ser compartido entre muchas partes diferentes. Se podría decir que su funcionamiento es como una base de datos, sin embargo la forma de interactuar es diferente.
        </P>

        
            <div #target4><h2 class="titulo4">Minería</h2> </div>        
        <p>
            La minería es el proceso de extraer recursos naturales en distintos entornos geográficos para su posterior explotación.
        </p>
        <P>
            Existen diversos tipos de actividad minera, atendiendo a la variedad de recursos naturales existentes en el planeta, así como de los distintos entornos geográficos en los que suelen disponerse.
        </P>
        <P>
            En ese sentido, es posible encontrar modalidades de minería en alta montaña, grandes extensiones de terreno de llanura o en la profundidad oceánica.
        </P>
        <P>
            Prácticamente en su totalidad, los recursos extraídos por medio de la minería son finitos o no renovables. Esto supone que las explotaciones cuentan con caducidad referente al vaciado de una localización.
        </P>
        <P>
            Así ocurre en ejemplos mineros como la extracción de metales preciosos, diamantes, o de combustibles fósiles.
        </P>   
            <div #target5><h2 class="titulo5">Proof of work y Proof of stake</h2></div>     
        <p>
            La prueba de trabajo es un protocolo de seguridad utilizado en las criptomonedas para evitar transacciones fraudulentas. Consiste en la resolución de un problema matemático aleatorio que solo puede solucionar un ordenador para validar la operación.
        </p>
        <P>
            Es decir, la prueba de trabajo es un proceso usado en las criptomonedas para verificar las transacciones y dotarlas de seguridad.
        </P>
        <P>
            Con la aparición de Internet, surgen multitud de oportunidades para realizar operaciones o trámites a través de la red. Junto a esto, gracias a este sistema, se crean nuevas herramientas e incluso nuevos activos.
        </P>
        <P>
            Es importante dotar de seguridad y garantías a este tipo de procesos para que sean funcionales y satisfagan las necesidades de los usuarios. Por este motivo, es importante la creación e implantación de protocolos de seguridad que verifiquen cada una de las operaciones realizadas.
        </P>
        <P>
            En relación a lo que hemos mencionado, te explicaremos el concepto de prueba de trabajo, también conocido por proof of work (PoW) en inglés. Es un protocolo de seguridad creado inicialmente para acabar con el correo spam, pero que ahora es utilizado en el campo de las criptomonedas.
        </P>
        <P>
            La Prueba de Participación, Proof of Stake (PoS) es actualmente el segundo mecanismo de consenso más utilizado en la tecnología Blockchain. Su algoritmo se encarga de elegir al verificador del siguiente bloque en función de varios mecanismos generalmente relacionados con su apuesta. Con Proof of Stake (PoS), la probabilidad de hallar un bloque de transacciones y obtener la recompensa correspondiente, es directamente proporcional a la cantidad de monedas que se tienen depositadas, y no por la cantidad de trabajo invertido en la minería.
El concepto de Prueba de Participación Proof of Stake (PoS), asume el tipo de generación de cadenas de bloques, donde no se requiere de la potencia de cálculo matemático de los participantes. Solo necesita almacenar activos criptográficos en su cuenta. Entonces, en lugar de usar una gran cantidad de electricidad, los participantes tienen un porcentaje limitado de posibles verificaciones de transacciones. Es lógico suponer que cuantas más monedas tenga un minero, más fuertes serán sus opciones.

        </P>
        
            <div #target6><h2 class="titulo6">Monedas</h2></div> 
        <p>
            Una moneda es dinero de curso legal emitido por las instituciones oficiales de un país, generalmente un banco central.

        </p>   
        <P>
            También podemos definir moneda como aquellos instrumentos metálicos con forma de disco que sirven como forma de pago en una transacción cualquiera y al cual se refieren todos los precios.
        </P>
        <P>
            Antes de continuar con la historia de la moneda y su evolución, cabe destacar, que al final del artículo explicaremos las diferencias entre moneda y divisa. Dos conceptos muy similares, pero no siempre iguales.
        </P>
        <div #target7><h2 class="titulo6">Criptografía</h2></div>
        <P>
            La criptografía es la práctica y estudio de técnicas para la comunicación segura entre dos partes en presencia de un tercero (adversario). Se trata de construir y analizar protocolos para evitar que el adversario pueda interceptar y entender el contenido del mensaje entre las dos partes de una comunicación. La criptografía moderna utiliza técnicas matemáticas, informáticas y eléctricas para saltarse a los adversarios.

        </P>
        <P>
            El proceso de cifrado consiste en convertir información ordinaria en un galimatías inteligible (texto cifrado). El descifrado es el paso inverso, convierte el texto cifrado en texto comprensible. Un sistema de cifrado es un par de algoritmos que crean un cifrado y descifrado. El funcionamiento detallado de un sistema de cifrado se controla por el algoritmo y por una clave. La clave es un parámetro secreto (solo puede ser conocida por las dos partes de las comunicaciones) que es utilizado para el intercambio de mensajes. La seguridad de las claves es un factor muy importante ya que una clave poco segura (como puede ser una que este conformada solamente por números) puede ser descubierta con suma facilidad y poner en riesgo todo el sistema de cifrado.

        </P>
        <div #target8><h2 class="titulo6">Regulaciones argentinas</h2></div>
        <P>
            Argentina no tiene una regulación unificada para criptomonedas. Por el contrario, distintas dependencias del gobierno han ido regulando las criptomonedas en forma parcial.

        </P>
        <P>
            En este sentido, las principales regulaciones han sido emitida por la Unidad de Información Financiera (“UIF”), el Banco Central de la República Argentina (“BCRA”) y la Administración Federal de Ingresos Públicos (“AFIP”), y cada una de estas entidades utiliza distintos conceptos para este tipo de activos.

        </P>
        <P>
            Tampoco existe un programa de sandbox o similar para el desarrollo de actividades relacionadas con criptomonedas.
        </P>
    </div>
    <div class="cuerpoindice">
        <div class="indice">
            <span class="font-normal text-4xl">INDICE</span>
        </div>
        <div>
            <button (click)="scroll(target)" class="iale"><span class="font-normal text-2xl">Introducción</span></button>
        </div>
        <div>
            <button (click)="scroll(target2)" class="iale"><span class="font-normal text-2xl">Exchanges y billeteras virtuales</span></button>
        </div>
        <div>
            <button (click)="scroll(target3)" class="iale"><span class="font-normal text-2xl">Blockchain</span></button>
        </div>
        <div>
            <button (click)="scroll(target4)" class="iale"><span class="font-normal text-2xl">Minería</span></button>
        </div>
        <div>
            <button (click)="scroll(target5)" class="iale"><span class="font-normal text-2xl">Proof of work y Proof of stake</span></button>
        </div>
        <div>
            <button (click)="scroll(target6)" class="iale"><span class="font-normal text-2xl">Monedas</span></button>
        </div>
        <div>
            <button (click)="scroll(target7)" class="iale"><span class="font-normal text-2xl">Criptografía</span></button>
        </div>
        <div>
            <button (click)="scroll(target7)" class="iale"><span class="font-normal text-2xl">Regulaciones argentinas</span></button>
        </div>

    </div>
</div>
</div>
